                                	<li>
                                    	<div class="d_item">
                                            <h2 title="{$item.job_name}">
                                                <a href="#" data-index="0" target="_blank" title="{$item.job_name}">
                                                    <em>{$item.job_name}</em>
                                                    <span>{$item.salary_low}-{$item.salary_hig}</span>					                        	                                    	</a>
                                            </h2>
                                            <a href="#" target="_blank" class="d_jobname" title="{$item.company_name}">
                                               {$item.company_name} <span>[{$item.city}-{$item.area}]</span>
                                            </a>
                                            <div class="d_resume">
                                                使用简历：
                                                <span>在线简历</span>
                                            </div>
                                            <span href="javascript:;" class="btn_showprogress">
                                            <if condition="$item['delivery_status'] eq 0 ">
                                                 <span class="d_status">投递成功</span>
                                                 <elseif condition="$item['delivery_status'] eq 1 "/>
                                                 <span class="d_status">被查看</span>
                                                 <elseif condition="$item['delivery_status'] eq 2 "/>
                                                 <span class="d_status">邀请面试</span> 
                                                 <elseif condition="$item['delivery_status'] eq 3 "/>
                                                 <span class="d_status">不合适</span>                                                       
                                                 </if>
                                             </span>
                                             <span class="d_time">{$item.delivery_time}</span>
                                        </div>
                                    
                                    </li>