                                	<li>
                                    	<div class="d_item">
                                            <h2 title="web前端开发工程师">
                                                <a href="#" data-index="0" target="_blank" title="web前端开发工程师">
                                                    <em>{$item.job_name}</em>
                                                    <span>{$item.money}</span>					                        	                                    	</a>
                                            </h2>
                                            <a href="#" target="_blank" class="d_jobname" title="{$item.company_name}">
                                               {$item.company_name} <span>[{$item.place}]</span>
                                            </a>
                                            <div class="d_resume">
                                                使用简历：
                                                <span>在线简历</span>
                                            </div>
                                            <span href="javascript:;" class="btn_showprogress">
                                                 <span class="d_status">{$item.delivery_status}</span>
                                             </span>
                                             <span class="d_time">{$item.delivery_time}</span>
                                        </div>
                                    
                                    </li>