                                	<li>
                                    	<div class="d_item">
                                            <h2 title="{$item.job_name}">
                                                <a href="{:U('Home/Index/jobdetail',array('id'=>$item['id']))}" data-index="0" target="_blank" title="{$item.job_name}">
                                                    <em>{$item.job_name}</em>
                                                    <span>{$item.salary_low}-{$item.salary_hig}</span>					                        	                                    	</a>
                                            </h2>
                                            <a href="#" target="_blank" class="d_jobname" title="{$item.company_name}">
                                               {$item.company_name} <span>[{$item.city}-{$item.area}]</span>
                                            </a>
                                            <div class="d_resume">
                                                使用简历：
                                                <span>在线简历</span>
                                            </div>
                                            <span href="javascript:;" class="btn_showprogress">
                                            <if condition="$item['delivery_status'] eq 0 ">
                                                 <div class="d_status" style="width: 101px;display: inline-flex;">投递成功<div style="background-image:url(__PUBLIC__/images/delivery.jpg);width: 25px;height: 25px;margin-top: -5px;background-size: 80px;background-position: 25px 0px;"></div></div>
                                                 <elseif condition="$item['delivery_status'] eq 1 "/>
                                                 <div class="d_status" style="width: 101px;display: inline-flex;">被查看<div style="background-image:url(__PUBLIC__/images/delivery.jpg);width: 25px;height: 25px;margin-top: -5px;background-size: 80px;    background-position: -25px -22px;"></div></div>
                                                 <elseif condition="$item['delivery_status'] eq 2 "/>
                                                 <div class="d_status" style="width: 101px;display: inline-flex;">邀请面试<div style="background-image:url(__PUBLIC__/images/delivery.jpg);width: 25px;height: 25px;margin-top: -5px; background-size: 80px;   background-position: -53px -23px;"></div> </div> 
                                                 <elseif condition="$item['delivery_status'] eq 3 "/>
                                                 <div class="d_status" style="width: 101px;display: inline-flex;">不合适<div style="background-image:url(__PUBLIC__/images/delivery.jpg);width: 25px;height: 25px;margin-top: -5px; background-size: 80px;   background-position: -79px -23px;"></div> </div>                                                       
                                                 <elseif condition="$item['delivery_status'] eq 4 "/>
                                                 <div class="d_status" style="width: 101px;display: inline-flex;">求职成功<div style="background-image:url(__PUBLIC__/images/delivery.jpg);width: 25px;height: 25px;margin-top: -5px; background-size: 80px;  "></div> </div>                                                       

                                                 </if>
                                             </span>
                                             <span class="d_time">{$item.delivery_time}</span>
                                        </div>
                                    
                                    </li>