		<header id="header">
			<nav class="container">
                
				<a class="logo" href=""><img src="__PUBLIC__/images/logo.png"></a>
               
				<a class="nav-link selected" href="{:U('Home/Index/index')}">首页</a>
				<a class="nav-link" href="{:U('Index/delivery')}">投递箱</a>
				<a class="nav-link" href="{:U('Index/index')}">简历管理</a>
 				<a class="nav-link fr" href="{:U('Login/log_out')}">退出</a>

                <a class="nav-link fr" href="{:U('Index/index')}"  ng-bind="basic[0].nickname"></a>
				
			</nav>
		</header>