<include file='Public:header'/>
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Home/news_list.css">

   <div class="box-1">
        <h1>职信道新闻和数据实时跟踪</h1>
        <p><a href="javascript:;" >媒体合作</a></div></p>   
    </div>

    <div class="box-2">
    <div class="container">
        <div class="sort">
            <volist name='info' offset='0' id='news' length='3'>
            <div class="title"> 
                 <p class="name" >{$news.cata_id}</p>
                 <p class="more"><a href="javascript:;">more</a></p>
            </div>
            <div class="picture">
                    <img src="__PUBLIC__/{$news.news_picture}" width="300px" height="150px">
            </div>
            <p class="text-title">{$news.news_title}</p>
            <a class="details" href="{:U('News/news_detail',array('id'=>$news['id']))}" >查看详情</a>
            
            </volist>
        </div>

    </div>
    </div>

    <div class="box-3">
        <div class="container">
            <div class="out">
                <div class="in">
                    <volist name='info' offset='3' id='news' length='3'>
                    <div class="left" ><img src="__PUBLIC__/{$news.news_picture}" width="300px" height="150px"></a></div>
                    <div class="right">
                        <h2><a href="javascript:;" >{$news.news_title}</a></h2>
                        <p>  <php> echo htmlspecialchars_decode($news.news_content);</php></p>
                        <p>{$news.author}{$new.add_time|date="Y-m-d H:i:s",###}</p>
                    </div>
                    </volist>
                </div>
            </div>
        </div>
      </div>


      <div class="box-4">
          <div class="container">
              <p><a href="javascript:;">浏览更多</a></p>
          </div>
      </div>
<include file="Public:footer"/>