<include file="Public:header" />
<link rel="stylesheet" href="__PUBLIC__/css/enterprise/resume.css?18">
<div class="container">
    <div class="content">
        <form action="" method="post">
            <div class="search_nav">
                <div class="dropdown">
                    <h5>工作经验</h5>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                        {$search_info['work_time']}
                        <span class="caret"></span>
                    </button>
                    <input type="hidden" name="work_time" id="workTime">
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">选择时间</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">应届毕业生</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1-3年</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3-5年</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5-10年</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10年以上</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <h5>学历</h5>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
                        {$search_info['education']}
                        <span class="caret"></span>
                    </button>
                    <input type="hidden" name="education" id="education">
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">选择学历</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">大专</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">本科</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">硕士</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">博士</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">其他</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <h5>状态</h5>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown">
                        {$search_info['status']}
                        <span class="caret"></span>
                    </button>
                    <input type="hidden" name="status" id="status">
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">选择状态</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">尚未查看</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">已经查看</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">正在沟通</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">成功招聘</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">关系破裂</a></li>
                    </ul>
                </div>
            </div>
            <div class="search_box">
                <input type="text" placeholder="输入关键词：职业名称，例如：JAVA工程师">
                <input type="submit" value="筛 选" class="btn btn-primary search">
                <a href="{:U('Seeker/resume',array('key'=>'','work_time'=>'选择时间','education'=>'选择学历','status'=>'选择状态'))}" class="back_up">返回全部列表</a>
            </div>
        </form>
        <div class="tit_box row">
            <div width="160w">职位名称</div>
            <div width="80w">姓名</div>
            <div width="55w">性别</div>
            <div width="55w">学历</div>
            <div width="90w">工作经验</div>
            <div width="115w">联系电话</div>
            <div width="95w">投递时间</div>
            <div width="85w">状态</div>
            <div width="145w">详情</div>
            <a class="delete_all" data-toggle="modal" data-target=".bs-example-modal-sm"></a>
            <div width="20w"><input type="checkbox" id="all_check"  ></div>
        </div>
        <table class="table row">
            <foreach name="resume_info" item="resume_item">
                <tr id_val="$resume_item['did']">
                    <th width="160w">{$resume_item['job_name']}</th>
                    <th width="80w">{$resume_item['nickname']}</th>
                    <th width="55w">{$resume_item['sex']}</th>
                    <th width="55w">{$resume_item['top_edu']}</th>
                    <th width="90w">{$resume_item['work_years']}</th>
                    <th width="115w">12345678910</th>
                    <th width="95w">16-12-03</th>
                    <th width="90w" class="status">{$resume_item['deli_status']}</th>
                    <th width="85w" class="state"><a class="btn btn-info" href="{:U('Seeker/resume_detail',array('did'=>$resume_item['did'],'uid'=>$resume_item['uid']))}">点击查看</a></th>
                    <th width="55w" class="state"><a class="btn btn-danger">删除</a></th>
                    <th width="20w"><input type="checkbox" class="delete"></th>
                </tr>
            </foreach>
            <div class="tip hide">
                <p>查询不到您所要的信息</p>
            </div>
        </table>
    </div>
</div>
<include file="Public:footer" />
<script src="__PUBLIC__/js/enterprise/search.js?7"></script>
<script src="__PUBLIC__/js/enterprise/resume.js?15"></script>
<script>

</script>
