<include file="Public:header" />
<link rel="stylesheet" href="__PUBLIC__/css/enterprise/resume.css?3">
<div class="container">
    <div class="content">
        <form action="">
            <div class="search_nav">
                <div class="dropdown">
                    <h5>职位类别</h5>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        选择职业
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Web前端开发工程师</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Java后台架构师</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">更多以后再完善</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <h5>投递时间</h5>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                        所有时间
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">所有时间</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">今天</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">最近三天</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">最近一周</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">最近一个月</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <h5>学历</h5>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
                        选择学历
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">研究生</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">本科</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">大专</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">其他</a></li>
                    </ul>
                </div>
            </div>
            <div class="search_box">
                <input type="text" placeholder="输入关键词：职业类型或者地点等，例如：JAVA，广州天河">
                <input type="button" value="筛 选" class="btn btn-primary">
            </div>
        </form>
        <div class="tit_box row">
            <div class="col-md-3 col-xs-3">职位名称</div>
            <div class="col-md-1 col-xs-1">姓名</div>
            <div class="col-md-1 col-xs-1">性别</div>
            <div class="col-md-1 col-xs-1">薪资</div>
            <div class="col-md-1 col-xs-1">学历</div>
            <div class="col-md-2 col-xs-2">投递时间</div>
            <div class="col-md-2 col-xs-2">联系电话</div>
            <div class="col-md-1 col-xs-1">详情</div>
        </div>
        <table class="table row">
                <tr>
                    <th class="col-md-3 col-xs-3">Web前端开发工程师</th>
                    <th class="col-md-1 col-xs-1">陈小明</th>
                    <th class="col-md-1 col-xs-1">男</th>
                    <th class="col-md-1 col-xs-1">￥5555</th>
                    <th class="col-md-1 col-xs-1">本科大学</th>
                    <th class="col-md-2 col-xs-2">16年10月26日</th>
                    <th class="col-md-2 col-xs-2">18888888888</th>
                    <th class="col-md-1  col-xs-1 state"><input type="button" value="点击查看" class="btn btn-info"></th>
                </tr>
        </table>
    </div>
</div>
<include file="Public:footer" />
<script src="__PUBLIC__/js/enterprise/search.js"></script>