
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.content{
	padding: 100px 0px 15px 0px;
}
.container{
	width:990px ! important;
}
.con-l{
	float: left;
    width: 265px;
    border: 1px solid #53cac3;
    background: #fff;
}
.con-l .chat-top ul li a{
	text-decoration: none;
}
.con-l .chat-top{
	background: #fafafa;
	width:100%;
}
.con-l .chat-top ul{
	margin: 0;
	padding: 0;
	padding:5px 5px;
	width:100%;
	text-align: center;
}
.con-l .chat-top ul li{
	width:45%;
	display: inline-block;
}
.con-l .chat-top ul li:nth-child(1) a{
	color: #52a4e9;
}
.con-l .chat-top ul li:nth-child(2) a{
	color:#68c948;
}
.con-l .chat-top ul li+li{
	border-left: 1px solid #ccc;
}
.con-l .chat-top ul li a img{
	margin-right: 6px;
	height:23px;
}
.con-l .chat-content .company-word{
	text-align: center;
	padding:10px 0px;
	font-size: 13px;
}
.con-l .chat-content .company-word i{
	display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    vertical-align: middle;
    background-color: #888;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.con-l .chat-content .job-profile{
	width:90%;
	margin:0px auto;
	border: 1px solid #ededed;
	background: #fafafa;
}
.con-l .chat-content .job-profile p{
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 18px;
    color: #53cac3;
}
.con-l .chat-content .job-profile ul{
	margin-bottom: 5px;
}
.con-l .chat-content .job-profile ul li{
	display: inline-block;
	padding: 0px 5px;
	font-size: 12px;
}
.con-l .chat-content .job-profile ul li+li{
	border-left: 1px solid #ccc;
}
.con-l .chat-content .local-time{
	margin: 20px 0 10px 0;
	text-align: center;
	font-size: 12px;
    color: #999;
}
.con-l .chat-content .speak-box{
	line-height: 50px;
	clear:both;
}
.con-l .chat-content .speak-box .img{
	width: 46px;
    height: 46px;
    border-radius: 50%;
    /*background: #53cac3;*/
    float:left;
    margin: 5px 0px 15px 12px;
}
.con-l .chat-content .speak-box .img img{
    width: 100%;
    border-radius: 50%;
}
.con-l .chat-content .speak-box p{
	position: relative;
	margin: 0;
	padding: 0;
	width: 158px;
	float:left;
	word-wrap: break-word;
	padding: 5px 20px;
    margin: 10px 15px;
    border-radius: 5px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ccc;
    color: #666;
    font-size: 14px;
}
.con-l .chat-content .speak-box p .i-left-jian{
	position: absolute;
    top: 7px;
    left: -10px;
    display: inline-block;
    width: 12px;
    height: 14px;
    background: url(../images/left_jian.png) no-repeat;
}

.con-l form .form-container{
	width:100%;
	margin-top: 130px;
}
.con-l form .form-container textarea{
	width:90%;
	margin:0px auto;
    padding: 10px;
    border: 1px solid #e4e4e4;
    color: #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.con-l form .form-container .send{
	display: block;
    width: 90%;
    padding: 10px 0;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #fb7200;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
/**************************con-r*******************************/
.con-r{
	float: right;
    width: 660px;
}
/*******搜索栏*********/
.con-r .search-box{
	width:100%;
	background: #fff;
	border: 1px solid #53cac3;
}
.con-r .search-box form{
	margin:0;
}
.con-r .search-box .search{
	width:80%;
	padding: 13px 0 13px 0;
    font-size: 18px;
	border:none;
	outline: none;
	text-indent: 10px;
}
.con-r .search-box .btn{
	margin: 5px 14px;
    padding: 0px 28px;
    background: #5ECFC9;
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    border-radius: 1px;
}
.con-r .job-list{
	overflow: hidden;
	position: relative;
	z-index: 1;
	width:100%;
	background: #fff;
	border: 1px solid #53cac3;
	margin: 15px 0px;
}
.con-r .job-list a{
	width:100%;
}
.con-r .job-list .job-left{
	padding:10px 0px;
	display: inline-block;
}
.con-r .job-list .job-left p{
	margin: 0;
	padding: 0;
	margin:0px 20px;
	font-size: 20px;
    max-width: 430px;
    line-height: 36px;
    color:#000;
}
.con-r .job-list .job-left ul{
	text-align: center;
}
.con-r .job-list .job-left ul li{
	display: inline-block;
	padding:0px 8px;
	color:#000;
}
.con-r .job-list .job-left ul li+li{
	border-left: 1px solid #ccc;
}
.con-r .job-list .job-coner{
	position: absolute;
	top: -30px;
    right: -44px;
    transform: rotate(40deg);
    width: 145px;
    height: 65px;
    background: #53cac3;
}
.con-r .job-list sup{
	position: absolute;
	top: 24px;
    right: 1px;
    letter-spacing: 2px;
    color: #fff;
    font-size: 13px;
}
.con-r .job-list label{
	position: absolute;
    bottom: 11px;
    right: 41px;
    color: #999;
}
.con-r .company-dec{
	position: relative;
	background: #fff;
	border: 1px solid #53cac3;
	margin-bottom: 15px;
}
.con-r .company-dec .company-left .company-img{
	width:80px;
	height:80px;
	border-radius: 50%;
	/*background: #53cac3;*/
	margin: 7px 10px;
}
.con-r .company-dec .company-left .company-img img{
	width:100%;
	border-radius: 50%;
}
.con-r .company-dec .company-left .company-name{
	position: absolute;
	top: 18px;
    left: 98px;
}
.con-r .company-dec .company-left .company-name p{
	font-size: 20px;
}
.con-r .company-dec .company-left .company-name p span{
	font-size: 13px;
	padding:0px 5px;
	margin:5px 5px;
	color:#53cac3;
	border: 1px solid #53cac3;
}
.con-r .company-dec .company-left .company-name .company-status{
	padding: 4px 7px;
    background: #6bd52c;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    word-wrap: break-word;
}
.con-r .company-dec .company-left .btn-deliveryresume{
	position: absolute;
	top: 20px;
    right: 22px;
    display: block;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #fb7200;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}
.con-r .job-detail{
	width: 100%;
	background: #fff;
	border: 1px solid #53cac3;
	margin-bottom: 60px;
}
.con-r .job-detail .job-describe{
	font-size: 18px;
    border-left: 7px solid #53cac3;
    padding-left: 10px;
    line-height: 1;
    margin: 20px 30px;
    color:#666;
}
.con-r .job-detail .job-require{
	font-size: 18px;
    border-left: 7px solid #53cac3;
    padding-left: 10px;
    line-height: 1;
    margin: 20px 30px;
    color:#666;
}
.con-r .job-detail .company-describe{
	font-size: 18px;
    border-left: 7px solid #53cac3;
    padding-left: 10px;
    line-height: 1;
    margin: 20px 30px;
    color:#666;
}
.con-r .job-detail p{
	word-break:break-all;
	margin: 0px 30px;
	margin-bottom: 20px;
	font-size: 14px;
	color:#666;
}
.con-r .job-detail .con-dec{
	color:#aaa;
	margin: 0px 30px;
	margin-bottom: 20px;
	font-size: 14px;
}
.con-r .job-detail .con-dec p{
	color:#666;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
.con-r .job-detail .con-dec span{
	font-size: 12px;
}
.con-r .job-detail .con-dec .iconfont{
	color:#53cac3;
	margin-left: 10px;
}






