<include file="Public:header" />
<link rel="stylesheet" href="__PUBLIC__/public/css/add.css">

    <div class="container">
        <div class="content">
            <div class="content_box">
                <h5>公司基本信息<span style="color: red ;font-weight: 600;font-size: 22px">*</span></h5>
                <p>如果公司信息还未通过审核，您将不能发布招聘信息！！</p>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="tit">公司全称</div>
                        <input type="text" name="" >
                    </div>
                    <div class="form-group">
                        <div class="tit">公司基本信息</div>
                        <input type="text" name="" >
                    </div>
                </form>
            </div>
            <div class="content_box">
                <h5>职业基本信息<span style="color: red ;font-weight: 600;font-size: 22px">*</span></h5>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="tit">职位名称</div>
                        <input type="text" name="" >
                    </div>
                    <div class="form-group">
                        <div class="tit">职位类型</div>
                        <input type="text" name="" >
                    </div>
                    <div class="form-group">
                        <div class="tit">技能要求</div>
                        <input type="text" name="" >
                    </div>
                    <div class="form-group">
                        <div class="tit">工作地点</div>
                        <input type="text" name="" >
                    </div>
                    <div class="form-group">
                        <div class="tit">薪酬范围</div>
                        <input type="text" name="" >
                    </div>
                    <div class="form-group">
                        <div class="tit">学历要求</div>
                        <input type="text" name="" >
                    </div>
                    <div class="form-group job-require">
                        <div class="tit">职业描述</div>
                        <textarea  name="" ></textarea>
                    </div>
                </form>
            </div>
            <div class="content_box">
                <h5>其他信息<span style="color: red ;font-weight: 600;font-size: 22px">*</span></h5>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="tit">简历接收邮箱</div>
                        <input type="text" name="" >
                    </div>
                </form>
            </div>
            <div class="content_box">
                <input type="button" value="保存" class="btn">
            </div>
        </div>
    </div>
</div>
<include file="Public:footer" />
