<include file="Public:header" />
    <link rel="stylesheet" href="__PUBLIC__/css/enterprise/job.css">

    <div class="container">
        <div class="content">
            <form action="">
                <div class="search">
                    <div class="job_type">
                        <span>职位类型</span>
                        <input type="text">
                    </div>
                    <div class="time">
                        <span>发布时间</span>
                        <input type="date">
                        到
                        <input type="date">
                    </div>
                    <input type="button" value="筛 选" class="btn">
                </div>
            </form>
            <div class="tit_box row">
                <div class="col-md-2">职位名称</div>
                <div class="col-md-2">职位类型</div>
                <div class="col-md-1">薪资</div>
                <div class="col-md-2">工作地点</div>
                <div class="col-md-2">发布时长</div>
                <div class="col-md-2">看过我的</div>
                <div class="col-md-1">状态</div>
            </div>
            <table class="table row">
                <tr>
                    <th class="col-md-2">PHP工程师</th>
                    <th class="col-md-2">工程师</th>
                    <th class="col-md-1">3k到5k</th>
                    <th class="col-md-2">广州天河区</th>
                    <th class="col-md-2">5个月5天</th>
                    <th class="col-md-2"><a href="">共5人</a></th>
                    <th class="col-md-1">已结束</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<include file="Public:footer" />
