<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../public/bootstrap-3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="body">
        <div class="background"><img src="images/background.jpg" alt=""></div>
        <div class="login">
            <div class="logo"></div>
            <h1>招聘网</h1>
            <form action="index.html" method="post">
                <div class="form-group">
                    <input type="text" name="user_name" placeholder="用户名" class="write"  >
                </div>
                <div class="form-group">
                    <input type="password" name="user_pwd" placeholder="密码" class="write" >
                </div>
                <!--<div class="form-group">-->
                    <!--<input type="text" name="yzm_val" class="write code" required>-->
                    <!--<img src="../libraries/code.php" alt="">-->
                <!--</div>-->
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="登 录">
                    <input type="hidden" name="c" value="login">
                    <input type="hidden" name="a" value="do_login">
                </div>
            </form>
            <ul class="help">
                <li><a href="register.html" class="register_btn">注册</a></li>
                <li><a href="">忘记密码？</a></li>
                <li><a href="">帮助</a></li>
            </ul>
            <div class="footer">
                <div>广州源酷创意信息科技有限公司</div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="../public/js/jquery.1.11.1.min.js"></script>
<script src=../public/js/login.js></script>