<!doctype html>
<html>
<head>
	<meta charset="utf-8">
  <title>企业招聘详情页</title> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jobseekers/a.css" /> 
</head>

<body>
<!-- header --> 
  <div id="lg_header"> 
   <!--头部黑色导航--> 
   <div id="lg_tbar"> 
    <div class="inner"> 
     <div class="lg_tbar_l"> 
      <a rel="nofollow" href="#" >AOSHI</a> 
      <a rel="nofollow" href="#" class="lg_os" > enterprise</a> 
     </div> 
     <ul class="lg_tbar_r"> 
      <li> <a href="#" >登录</a> </li> 
      <li> <a href="#" >注册</a> </li> 
     </ul> 
    </div> 
   </div>
   <div id="lg_tnav"> 
    <div class="inner"> 
     <ul class="lg_tnav_wrap"> 
      <li> <a href="#" >首页</a> </li> 
       <li> <a href="#" >首页</a> </li> 
      <li> <a href="#" >首页</a> </li> 
       <li> <a href="#" >首页</a> </li> 
       <li> <a href="#" >首页</a> </li> 
     </ul> 
    </div> 
   </div>
  </div>
  <input type="hidden" id="serverTime" value="1483586403991" /> 

</body>
</html>
