<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="renderer" content="webkit" /> 
  <meta property="qc:admins" content="23635710066417756375" /> 
  <meta name="baidu-site-verification" content="QIQ6KC1oZ6" /> 
  <meta charset="utf-8" /> 
  <title>企业招聘详情页</title> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jobseekers/layout.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jobseekers/main_a.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jobseekers/main_b.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jobseekers/widgets.css"/>
 </head> 
 <body> 
  <!-- header --> 
  <div id="lg_header"> 
   <!--头部黑色导航--> 
   <div id="lg_tbar"> 
    <div class="inner"> 
     <div class="lg_tbar_l"> 
      <a rel="nofollow" href="#" >AOSHI</a> 
      <a rel="nofollow" href="#" class="lg_os" > enterprise</a> 
     </div> 
     <ul class="lg_tbar_r"> 
      <li> <a href="#" >登录</a> </li> 
      <li> <a href="#" >注册</a> </li> 
     </ul> 
    </div> 
   </div>
   <div id="lg_tnav"> 
    <div class="inner"> 
     <ul class="lg_tnav_wrap"> 
      <li> <a href="#" >首页</a> </li> 
       <li> <a href="#" >首页</a> </li> 
      <li> <a href="#" >首页</a> </li> 
       <li> <a href="#" >首页</a> </li> 
       <li> <a href="#" >首页</a> </li> 
     </ul> 
    </div> 
   </div>
  </div>
  <input type="hidden" id="serverTime" value="1483586403991" /> 
  <!-- 页面主体 --> 
  <div class="position-head" data-companyid="4126"> 
   <div class="position-content "> 
    <div class="position-content-l"> 
     <div class="job-name" title="前端开发工程师"> 
      <div class="company">
       广州XXX公司招聘
      </div> 
      <span class="name">前端开发工程师</span> 
      <div class="marEdit"> 
      </div> 
     </div> 
     <dd class="job_request"> 
      <p> <span class="salary">4k-8k </span> <span>/广州 /</span> <span>经验1年以上/</span> <span>学历不限</span> <span>全职</span> </p> 
      <!-- 职位标签 --> 
      <ul class="position-label clearfix"> 
       <li class="labels">h5</li> 
       <li class="labels">css3</li> 
       <li class="labels">js</li> 
       <li class="labels">jq</li> 
       <li class="labels">angular</li> 
       <li class="labels">nodejs</li> 
      </ul> 
      <p class="publish_time">XX天前&nbsp; 发布aoshi</p> 
     </dd> 
    </div> 
    <div class="position-content-r clearfix"> 
     <div class="position-deal clearfix"> 
      <div class="resume-deliver"> 
       <!-- 未登录 --> 
       <a rel="nofollow" href="#" title="登录" class="passport_login_pop btn fr btn_apply">投个简历</a> 
      </div> 
      <!-- 收藏按钮 --> 
      <a class="jd_collection passport_login_pop " id="login_position" rel="nofollow" href="#"> <i class="icon-glyph-hollow-star"> </i>收藏 </a> 
     </div> 
     <!-- 简历状态 --> 
     <ul class="resume-select clearfix"> 
      <li class="resume no-resume-attachment"><span><a class="passport_login_pop" rel="nofollow" href="#"><i class="icon-glyph-attachment"></i>上传附件简历</a></span></li> 
      <li class="resume no-resume-online"><span><a href="#" target="_blank" title="完善在线简历" rel="nofollow"><i class="icon-glyph-online-resume"></i>完善在线简历</a></span></li> 
     </ul> 
    </div> 
   </div> 
  </div> 
  <div class="ceil"> 
   <div class="ceil-content"> 
    <span class="ceil-job">前端开发工程师 /</span> 
    <span class="ceil-salary">6k-10k</span> 
    <div class="ceil-right"></div> 
   </div> 
  </div> 
  <div class="container clearfix" id="container"> 
   <div class="content_l fl"> 
    <dl class="job_detail" id="job_detail"> 
     <dt class="clearfix join_tc_icon">
     </dt> 
     <dd class="job-advantage"> 
      <span class="advantage">职位前景：</span> 
      <p>XXXXXXXXXXX</p> 
     </dd> 
     <dd class="job_bt"> 
      <h3 class="description">职位描述：</h3> 
      <div> 
       <p>职位复杂的任务:</p> 
       <p>XXXXXXXXXXXX</p> 
       <p>XXXXXXXXXXXX</p> 
       <p>XXXXXXXXXXXX</p> 
       <p>XXXXXXXXXXXX</p> 
       <p>岗位要求：</p> 
     <p>XXXXXXXXXXXX</p> 
       <p>XXXXXXXXXXXX</p> 
      </div> 
     </dd> 
     <dd class="job-address clearfix"> 
      <h3 class="address">工作地址</h3> 
      <div class="work_addr"> 
      <p>XX市XX区XXX公司</p>
      </div> 
      <div id="miniMap"></div> 
      <input type="hidden" name="positionLng" value="112.993461" /> 
      <input type="hidden" name="positionLat" value="22.994261" /> 
      <input type="hidden" name="positionAddress" value="五羊新城寺右一马路18号泰恒大厦1506室" /> 
      <input type="hidden" name="workAddress" value="广州" /> 
      <div style="display: none;"> 
       <div id="mapPopup" class="popup"> 
        <div id="fullMap"></div> 
       </div> 
      </div> 
     </dd> 
     <!-- 职位发布者 --> 
     <dd class="jd_publisher"> 
      <h3>职位hr:</h3> 
      <div class="border clearfix"> 
       <img src="__PUBLIC__/Picture/cgo8pfvxbuwae9kaaacxzelte8e201.jpg" width="60" height="60" /> 
       <div class="publisher_name"> 
        <a title="冯小姐"> <span class="name">nacy</span> <span class="chatme chat_me" data-lg-tj-id="1WG0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" data-lg-tj-track-code="jobs_code" data-lg-tj-track-type="1"></span> <input type="hidden" class="hr_portrait" value="image1/M00/2B/A8/Cgo8PFVxBUWAe9kAAACXZELTE8E201.jpg" /> <input type="hidden" class="hr_name" value="冯小姐" /> <input type="hidden" class="hr_position" value="招聘主管" /> <input type="hidden" class="erma_codeu" value="40146" /> <input type="hidden" class="erma_codep" value="2667058" /> </a> 
        <span class="pos"> 人力资源部部长 </span> 
       </div> 
      </div> 
     </dd> 
    </dl> 
    <div class="popular_recom hide-recom"> 
     <a rel="nofollow" href="#" class="expansion">展开<i></i></a> 
     <dl class="popular_company clearfix"> 
      <dt>
       与我们公司合作的互联网企业：
      </dt> 
      <dd> 
       <a href="#">阿里巴巴</a> 
       <a href="#">百度</a> 
       <a href="#">滴滴</a> 
       <a href="#">腾讯</a> 
       <a href="#">安居客</a> 
       <a href="#">小米手机</a> 
       <a href="#">京东</a> 
      </dd> 
     </dl> 
    </div> 
   </div> 
   <div class="content_r"> 
    <dl class="job_company" id="job_company"> 
     <dt> 
      <a href="#" target="_blank" data-lg-tj-track-code="jobs_logo"> <img class="b2" src="__PUBLIC__/Picture/cgo8pfukreuasq1taabitw1jdhi098.jpg" width="96" height="96" alt="aoshi" /> 
       <div> 
        <h2 class="fl"> AOSHI.CN <i class="icon-glyph-valid"></i> <span class="dn">傲视认证企业</span> </h2> 
       </div> </a> 
     </dt> 
     <dd> 
      <ul class="c_feature"> 
       <li> <i class="icon-glyph-fourSquare"></i> 移动互联网,文化娱乐 <span class="hovertips">领域</span> </li> 
       <li> <i class="icon-glyph-trend"></i> B轮 <span class="hovertips">发展阶段</span> </li> 
       <li> <i class="finance icon-glyph-doller"></i><p class="financeOrg">IDG(A轮,B轮)</p> <span class="hovertips">投资机构</span> </li> 
       <li> <i class="icon-glyph-figure"></i> 150-500人 <span class="hovertips">规模</span> </li> 
       <li> <i class="icon-glyph-home"></i> <a href="http://www.baidu.com" target="_blank" title="http://www.poco.cn" rel="nofollow">www.aoshi.cn</a> <span class="hovertips">公司主页</span> </li> 
      </ul> 
     </dd> 
    </dl> 
    <div class="jobs_similar" id="jobs_similar"> 
     <h4 class="jobs_similar_header"> <span>相似职位</span> </h4> 
     <input type="hidden" value="true" id="similarPosition" /> 
     <div class="jobs_similar_content" id="jobs_similar_content"> 
      <div class="jobs_similar_detail" id="jobs_similar_detail" data-lg-tj-track-code="jobs_similar" data-lg-tj-track-type="1"> 
       <ul class="similar_list reset"> 
        <li class="similar_list_item  clearfix" data-jobid="2667036"> <a class="position_link clearfix" href="#" target="_blank" data-index="0" data-lg-tj-id="9600" data-lg-tj-no="0001" data-lg-tj-cid="idnull" data-lg-tj-abt="default|0"> 
          <div class="similar_list_item_logo"> 
           <img class="lazy_img" data-original="//www.lgstatic.com/thumbnail_120x120/i/image/M00/36/A4/Cgp3O1deTqOACvj1AAAZ8hl2iCE721.jpg" alt="美人信息" width="56" height="56" /> 
          </div> 
          <div class="similar_list_item_pos"> 
           <h2 title="前端开发工程师">前端开发工程师</h2> 
           <p>6k-10k</p> 
           <p class="similar_company_name" title="美人信息 [广州&middot;五羊新城]"> 美人信息 [广州&middot;五羊新城] </p> 
          </div>
         <div class="similar_company_info dn"> 
          <div class="arr">
           <span></span>
          </div> 
          <p><span>领域：</span><span>移动互联网</span></p> 
          <p><span>创始人：</span><span></span></p> 
          <p><span>阶段：</span><span>A轮</span></p> 
          <p><span>规模：</span><span>150-500人</span></p> 
          <div class="similar_company_label"> 
           <span>年底双薪</span> 
           <span>带薪年假</span> 
           <span>午餐补助</span> 
          </div> 
         </div> </li> 
       </ul> 
       <a href="#" class="jobs_similar_footer" target="_blank" data-lg-tj-id="9700" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">查看更多相似职位</a> 
      </div> 
     </div> 
    </div> 
    <!--广告位--> 
    <div key="ZHIWEIYE_YOUCEERWEIMA" class="job_ad_side lgad_jsonp ad_exposure"></div> 
   </div> 
  </div> 
  <!-- 页面主体END --> 
  <!-- footer --> 
  <a id="backtop" title="回到顶部" rel="nofollow"></a> 
  <div id="footer"> 
   <div class="wrapper">
    <div class="inner_wrapper"> 
     <a class="footer_app" href="#" rel="nofollow">aoshiAPP<span>new</span></a> 
     <a href="#" target="_blank" rel="nofollow">aoshi微博</a> 
     <a class="footer_qr" href="#" rel="nofollow">aoshi微信</a> 
     <a href="#" target="_blank" rel="nofollow">版本更新</a> 
     <a href="#" target="_blank" rel="nofollow">帮助中心</a> 
     <a href="#" target="_blank" rel="nofollow">联系我们</a> 
     <a href="#" target="_blank" rel="nofollow">招聘解决方案</a> 
     <span class="tel">服务热线：<em>4006-2828-35 (9:00 -18:00)</em></span> 
    </div> 
    <div class="copyright "> 
     <span><em>&copy;</em>2017 aoshi </span> 
     <a target="_blank" href="#" rel="nofollow">京ICP备14023790号-2</a> 
     <span>aoshi网安备11010802017116号</span> 
    </div> 
   </div> 
  </div> 
  <input type="hidden" value="" name="userid" id="userid" /> 
  <input type="hidden" value="" name="useridMd5" id="useridMd5" /> 
  <input type="hidden" value="" name="type" id="resend_type" /> 
  <input type="hidden" value="" id="resubmitToken" /> 
  <input type="hidden" value="2667058" id="jobid" /> 
  <input type="hidden" value="4126" id="companyid" /> 
  </div> 
 </body>
</html>