<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--bootstrap-->
    <link rel="stylesheet" href="__PUBLIC__/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
    <!--style-->
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/libs/html5shiv/html5shiv.min.js"></script>
    <script src="__PUBLIC__/libs/respond/respond.min.js"></script>
    <![endif]-->
    <!--owlcarousel-->
    <link rel="stylesheet" href="__PUBLIC__/libs/owlcarousel/assets/owl.carousel.min.css">
    <!--<link rel="stylesheet" href="__PUBLIC__/libs/owlcarousel/assets/owl.theme.default.css">-->
    <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css">
    <title>前端首页</title>
    <script src="__PUBLIC__/libs/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        var SITE_URL="__MODULE__";
         var PUBLIC="__PUBLIC__";

    </script>
</head>
<body>
<!--header-->
<header id="header">
    <!--导航条-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BRAND<br>&nbsp;职信道</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li <if condition="$Think.const.CONTROLLER_NAME eq Index AND $Think.const.ACTION_NAME eq index "> class="active" </if> ><a href="{:U('Index/index')}"><span>首页  </span></a></li>
                    
                    <li <if condition="$Think.const.ACTION_NAME eq findjob"> class="active" </if> ><a href="{:U('Index/findjob')}"><span>求职</span></a></li>
                    <li><a href="#"><span>扫码登录</span></a></li>
                    <li <if condition="$Think.const.CONTROLLER_NAME eq News"> class="active" </if> ><a href="{:U('News/index')}"><span>新闻和数据</span></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="icon-ios"></i>iOS</a></li>
                    <li><a href="#"><i class="icon-android"></i>Android</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!--header-->