<include file="Public:header" />

<link rel="stylesheet" href="__PUBLIC__/css/common.css">
<link rel="stylesheet" href="__PUBLIC__/css/findjob.css"> 
  	 
	

<!-- banner -->
	<div class="container">
		<div class="banner-download">
			<div class="img">
				<img src="__PUBLIC__/images/download-phone.png">
			</div>
			<span>上职信道<br>找好工作</span>
			<p>职信道<br>助您轻松找工作</p>
			<div class="btn-download">
				<a href="#" class="iphone"></a>
				<a href="#" class="android"></a>
			</div>
		</div>
	</div>
<!-- 职位列表 -->
	<div class="container">
		<div class="position-left">
			<div class="item">
				<div class="main">
					<span>技术</span>
					<ul>
						<li><a href="#">Java</a></li>
						<li><a href="#">PHP</a></li>
						<li><a href="#">Web前端</a></li>
						<li><a href="#">测试工程师</a></li>
						<li><a href="#">C++</a></li>
					</ul>
				</div>
				<!-- 职位弹框 -->
				<div class="slide">
					<div class="top-job">
						<span>技术类top10职位</span>
						<ul>
							<li><a href="#">Java</a></li>
							<li><a href="#">PHP</a></li>
							<li><a href="#">Web前端</a></li>
							<li><a href="#">测试工程师</a></li>
							<li><a href="#">C++</a></li>
							<li><a href="#">android</a></li>
							<li><a href="#">运维工程师</a></li>
							<li><a href="#">.Net</a></li>
							<li><a href="#">项目经理</a></li>
							<li><a href="#">IOS</a></li>
						</ul>
					</div>
				</div>
				<div class="cover"></div>				
			</div>
			<div class="item">
				<div class="main">
					<span>设计</span>
					<ul>
						<li><a href="#">平面设计师</a></li>
						<li><a href="#">美工</a></li>
						<li><a href="#">UI设计师</a></li>
						<li><a href="#">视觉设计师</a></li>
						<li><a href="#">三维/CAD/制图</a></li>
					</ul>
				</div>
				<!-- 职位弹框 -->
				<div class="slide">
					<div class="top-job">
						<span>设计类top10职位</span>
						<ul>
							<li><a href="#">平面设计师</a></li>
							<li><a href="#">美工</a></li>
							<li><a href="#">UI设计师</a></li>
							<li><a href="#">视觉设计师</a></li>
							<li><a href="#">三维/CAD/制图</a></li>
							<li><a href="#">网页设计师</a></li>
							<li><a href="#">美术设计师</a></li>
							<li><a href="#">设计师助理</a></li>
							<li><a href="#">家具设计</a></li>
							<li><a href="#">交互设计师</a></li>
						</ul>
					</div>
				</div>	
				<div class="cover"></div>			
			</div>
		</div>
		<div class="position-right">
			<div class="search-box">
				<form id="search-form" action="" method="post">
					<input type="text" name="key" placeholder="请输入职位或公司名称" class="search" value={$_REQUEST['key']}>
					<input type="submit" value="搜索" class="btn btn-info">
				</form>
			</div>
			<div class="search-tip">
				<p>{$_REQUEST['key']}&nbsp;相关结果</p>

			</div>
			<!-- 职位详情表 -->


<!-- 第四步：遍历模版变量 -->
		
		<div class="list-content">
		<volist name="job_info" id="job_item">
			<div class="job-list">
				<a href='jobdetail/id/{$job_item.id}'>
					<div class="job-left">
					<!-- 第五步：给对应信息添加动态数据 -->
						<p class="job-name">{$job_item.job_name}</p>
						<p class="word-red"><strong>￥{$job_item['salary_low']}-{$job_item['salary_hig']}</strong></p>
						<ul>
							<li>{$job_item['city']}</li>
							<li>{$job_item['work_time']}</li>
							<li>{$job_item['education']}</li>
						</ul>
					</div>
					<div class="job-right">
						<div class="company-img">
								<img src="{$job_item['photo']}">
						</div>
						<span>{$job_item['name']}  {$job_item['job']}</span>
					</div>
				</a>
			</div>
		</volist>
		</div>
		

			<div class="next-page">
				<a>加载更多</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/enterprise/findjob.js"></script>
	<script type="text/javascript">
	var page = 0;
    $(function() {
        $('.next-page').on('click', function() {
            page += 8;//点击一次追加8条
            $.ajax({

                url:"__URL__/findjob",
                data:{
                    p:page,
                },
                dataType: "json",
                type:"post",
                success:function(data){
                    var html = '';
                    for(var i in data){
                    	dataid=data[i].id;
                        html +='<div class="job-list">';//拼接职位显示列表
    						html +="<a href='jobdetail/id/"+dataid+"'>";
	                            html +='<div class="job-left">'
		                            html +='<p class="job-name">'+data[i].job_name+'</p>';
		                            html +='<p class="word-red"><strong>￥'+data[i].salary_low+'-'+data[i].salary_hig+'</strong></p>';
		                            html +='<ul>';
			                            html +='<li>'+data[i].city+'</li>';
			                            html +='<li>'+data[i].work_time+'</li>';
			                            html +='<li>'+data[i].education+'</li>';
		                            html +='</ul>';
	                            html +='</div>';
	                            html +='<div class="job-right">';
		                            html +='<div class="company-img">';
		                            	html +='<img src="'+data[i].photo+'">';
		                            html +='</div>';
		                            html +='<span>'+data[i].name+"  "+data[i].job+'</span>';
	                            html +='</div>';
                            html +='</a>';
                        html +='</div>';
                    }  
                    $(".list-content").append(html);//追加
                }
            });   
        });
    });
	</script>
</body>
</html>