<include file="Public:header" />

<!--内容-->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title-defined">
                <h1 class="animated fadeInDown">职信道,让你更快更好找到心仪的工作</h1>
            </div>
            <div class="col-md-12">
                <h2 class="animated fadeInDown">在线聊天·行为数据匹配·名气高薪职位</h2>
            </div>
            <div class="col-lg-12">
                <div class="input-group input-defined">
                    <form action="{:U('Index/findjob')}" method="post">
                        <input type="text" class="form-control animated bounceIn" name="key" placeholder="输入公司或职位">
                        <span class="input-group-btn">
        <button class="btn btn-default icon-search" type="submit"></button>
      </span>
                    </form>

                </div>
            </div>
            <div class="col-md-4">
                <div class="wrap">
                    <i class="icon-box"></i>
                    <h5>注册职信道</h5>
                </div>
                <div class="wrap-mouse">
                    <h5>注册职信道</h5>
                    <p>即刻与百万Boss立即开聊</p>
                    <a href="{:U('Jobseekers/Login/register')}">
                        <button class="btn btn-default  btn-defined">注册</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4 cur">
                <div class="wrap">
                    <i class="icon-box box2"></i>
                    <h5>扫描登录网页版</h5>
                </div>
                <div class="wrap-mouse">
                    <h5>扫描登录网页版</h5>
                    <p>老用户使用职信道APP扫描二维码</p>
                    <a href="#">
                        <button class="btn btn-default btn-defined btn-defined1">
                            <i class="icon-comp"></i>
                            扫码登录
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrap">
                    <i class="icon-box box3"></i>
                    <h5>下载职信道</h5>
                </div>
                <div class="wrap-mouse">
                    <h5>下载职信道</h5>
                    <p>即刻与百万Boss立即开聊</p>
                    <a href="#">
                        <button class="btn btn-default btn-defined">下载</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--内容-->
<!--chat-->
<section class="chat">
    <h1 class="wow animated fadeInDown">职信道</h1>
    <p class="wow animated fadeInDown">企业职场达人与职场牛人直接在线开聊</p>
    <div class="container">
        <div class="row">
            <div class="col-md-3"><div class="circle circle1"></div></div>
            <div class="col-md-3"><div class="circle circle2"></div></div>
            <div class="col-md-3"><div class="circle circle3"></div></div>
            <div class="col-md-3"><div class="circle circle4"></div></div>
            <div class="col-md-12">
                <img class="line" src="__PUBLIC__/images/figure-line.png" alt="..">
            </div>
            <div class="col-md-12">
                <p class="brand-defined">BRAND<br>职信道</p>
            </div>
            <div class="col-md-12">
                <img class="phone" src="__PUBLIC__/images/figure-phone-1.png" alt="..">
            </div>
        </div>
    </div>
</section>
<!--chat-->

<!--details-->
<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="img-wrap">
                    <p>TOM</p>
                    <img class="chat-wrap" src="__PUBLIC__/images/download-phone.png" alt="...">
                    <div class="list-wrap">
                        <img src="__PUBLIC__/images/chat-list.png" alt="..." class="chat-list wow animated fadeInUp">
                    </div>

                    <img src="__PUBLIC__/images/chat-tip.png" alt="..." class="chat-tip wow animated fadeInUp">
                </div>

            </div>
            <div class="col-md-6">
                <div class="content-wrap">
                    <h1 class="media-heading wow animated fadeInDown">职信道/DIRECT-CHATTING</h1>
                    <p class="wow animated fadeInDown">在APP上跟未来BOSS直接开聊<br>与冷冰冰的简历投递说再见</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--details-->
<!--company-->
<section class="company chat">
    <h1 class="wow animated fadeInDown">名企 / FAMOUS COMPANY</h1>
    <p class="wow animated fadeInDown">阿里百度腾讯，滴滴美团京东。都在用职信道招人</p>
    <div class="container">
        <div class="row">
            <div class="comp-img-wrap">
                <img src="__PUBLIC__/images/figure-computer.png" alt="...">
            </div>
            <div class="logo-wrap">
                <ul class="figure-logo">
                    <li class="logo1">
                        <img src="__PUBLIC__/Picture/logo-didi.png" alt="...">
                    </li>
                    <li class="logo2">
                        <img src="__PUBLIC__/Picture/logo-baidu.png" alt="...">
                    </li>
                    <li class="logo3">
                        <img src="__PUBLIC__/Picture/logo-meituan.png" alt="...">
                    </li>
                    <li class="logo4">
                        <img src="__PUBLIC__/Picture/logo-jd.png" alt="...">
                    </li>
                    <li class="logo5">
                        <img src="__PUBLIC__/Picture/logo-ali.png" alt="...">
                    </li>
                    <li class="logo6">
                        <img src="__PUBLIC__/Picture/logo-tencent.png" alt="...">
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!--company-->

<!--details-->
<section id="pay">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="content-wrap">
                    <h1 class="wow animated fadeInDown">DECENT PAY / 高薪</h1>
                    <p class="wow animated fadeInDown">除了真人在线之外<br>BOSS们认为最能表现诚意的是可观的薪资</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="img-wrap">
                    <img src="__PUBLIC__/images/figure-phone-3.png" alt="...">
                </div>
                <ul class="cards-list">
                    <li class="card1 wow animated fadeInUp"></li>
                    <li class="card2 wow animated fadeInUp"></li>
                    <li class="card3 wow animated fadeInUp"></li>
                    <li class="card4 wow animated fadeInUp"></li>
                    <li class="card5 wow animated fadeInUp"></li>
                    <li class="card6 wow animated fadeInUp"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--details-->
<!--media-->
<section class="media">
    <div class="title wow animated fadeInDown">
        <h1>媒体报道</h1>
        <p class="line"></p>

    </div>
    <div class="container">
        <div class="row">
            <div class="media-link col-md-12">
                <div class="col-md-2 link1 wow animated fadeInLeft">
                   <a href="#"></a>
                </div>
                <div class="col-md-2 link2 wow animated fadeInLeft">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link3 wow animated fadeInLeft">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link4 wow animated fadeInRight">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link5 wow animated fadeInRight">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link6 wow animated fadeInRight">
                    <a href="#"></a>
                </div>
                <div class="col-md-12" style="margin:20px 0"></div>
                <div class="col-md-2 link7 wow animated fadeInLeft">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link8 wow animated fadeInLeft">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link9 wow animated fadeInLeft">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link10 wow animated fadeInRight">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link11 wow animated fadeInRight">
                    <a href="#"></a>
                </div>
                <div class="col-md-2 link12 wow animated fadeInRight">
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>

</section>
<!--media-->

<!--carousel-->
<section class="carousel">
    <div class="title wow animated fadeInDown">
        <h1>他们一直在用</h1>
        <p class="line"></p>
    </div>
    <div class="owl-carousel">
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-1.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-2.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-3.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-4.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-5.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-6.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-7.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-8.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-9.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-10.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-11.png"></div>
        <div class="owl-item"><img src="__PUBLIC__/Picture/c-12.png"></div>
        <div class="owl-nav">
            <div class="owl-pre"></div>
            <div class="owl-next"></div>
        </div>
    </div>
</section>
<!--carousel-->

<!--footer-->
<section class="footer">
    <p class="p1">Copyright © 2016 zhixindao.com京ICP备14018958号-1</p>
    <p class="p2">zhixindao.com.保留所有版权. 使用这些服务遵守用户协议</p>
</section>
<!--footer-->
<script src="__PUBLIC__/libs/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/js/wow.min.js"></script>
<script src="__PUBLIC__/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/libs/owlcarousel/owl.carousel.min.js"></script>
<script src="__PUBLIC__/js/base.js"></script>
</body>
</html>