<include file="Public:header" />
 

	<link rel="stylesheet" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/css/jobdetail.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/font_f8ufmrmnvizlg14i/iconfont.css">
	 <div class="content">
	 <volist name="job_detail" id="job_item">
	 	<div class="container">
			<div class="con-l">
				<div class="chat-content">
					<div class="company-word">
						<i></i>{$job_item['company_name']}<i></i><br>
						<p class="word-red">希望与您沟通以下职位</p>
					</div>		
					<div class="job-profile">
						<p>{$job_item['job_name']}</p>
						<p class="word-red">￥{$job_item['salary_low']}-{$job_item['salary_hig']}</p>
						<ul>
							<li>{$job_item['city']}</li>
							<li>{$job_item['work_time']}</li>
							<li>{$job_item['education']}</li>
						</ul>
					</div>
					<p class="local-time">{$time}</p>
					<div class="speak-box">
						<div class="box-con">
							<div class="img">
								<img src="{$job_item['photo']}">
							</div>
							<p>
								<i class="i-left-jian"></i>
								你好！
							</p>
						</div>
						
					</div>
					<div class="speak-box">
						<div class="box-con">
							<div class="img">
								<img src="{$job_item['photo']}">
							</div>
							<p>
								<i class="i-left-jian"></i>
								{$job_item['company_name']}欢迎你！
							</p>
						</div>
						
					</div>
					
					<div class="speak-box">
						<div class="box-con">
							<div class="img">
								<img src="{$job_item['photo']}">
							</div>
							<p>
								<i class="i-left-jian"></i>
								{$job_item['job_name']}火热招聘中，欢迎你的投递！
							</p>
						</div>
						
					</div>
				</div>	
			</div>
			
			<div class="con-r">
				<div class="search-box">
					<form action="{:U('Index/findjob')}" method="post">
						<input type="text" name="key" placeholder="请输入职位或公司名称" class="search">
						<input type="submit" value="搜索" class="btn btn-info">
					</form>
				</div>
				<!-- 职位显示表-->

				
				<div class="job-list">
					<div class="job-left">
						<p>{$job_item['job_name']}</p>
						<p class="word-red"><strong>￥{$job_item['salary_low']}-{$job_item['salary_hig']}</strong></p>
						<ul>
							<li>{$job_item['city']}</li>
							<li>{$job_item['work_time']}</li>
							<li>{$job_item['education']}</li>
						</ul>
					</div>
					<div class="job-coner">
						
					</div>
					<sup>职信道</sup>
					<label>{$job_item[add_time]}<span>&nbsp;更新</span></label>
				</div>
				<!-- 公司显示表-->
				<div class="company-dec">
					<div class="company-left">
						<div class="company-img">		
							<img src="{$job_item['photo']}">
						</div>
						<div class="company-name">
							<p>{$job_item[name]}  {$job_item[job]}<span>招聘中</span></p>
							<span class="company-status">在线</span>
						</div>
						 <input type="hidden" value="{$job_item[id]}" id="job_ids"/>

						<a id="delivery_send" class="btn-deliveryresume">投递简历</a>
					</div>
				</div>
				<!-- 职位详情-->
				<div class="job-detail">
					<p class="job-describe">职位描述</p>
					<p>{$job_item[job_describe]}</p>
					<p class="job-require">岗位要求</p>
					<p>{$job_item[job_require]}</p>
					<p class="company-describe">公司简介</p>
					<div class="con-dec">
						<p>{$job_item[introduction]}</p>
						<i class="iconfont">&#xe620;</i>
						<span>{$job_item[address]}</span>
						<i class="iconfont">&#xe65d;</i>
						<span>{$job_item[scale]}</span>
						<i class="iconfont">&#xe69f;</i>
						<span>{$job_item[phone]}</span>
					</div>
				</div>
			</div>
		</div>
	</volist>
	</div>
	<script src="__PUBLIC__/js/enterprise/jobdetail.js"></script>
	<script src="__PUBLIC__/fonts/font_f8ufmrmnvizlg14i/iconfont.js"></script>
</body>
</html>