<include file="Public:header" />
 

	<link rel="stylesheet" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/css/jobdetail.css">
	 <div class="content">
	 	<div class="container">
		<div class="con-l">
			<div class="chat-top">
				<ul>
					<li><a><img src="__PUBLIC__/images/phone-icon.PNG">交换电话</a></li>
					<li><a><img src="__PUBLIC__/images/wx.PNG">交换微信</a></li>
				</ul>
			</div>
			<div class="chat-content">
				<div class="company-word">
					<i></i>公司名希望与您沟通以下职位<i></i>
				</div>		
				<div class="job-profile">
					<p>前端工程师</p>
					<p class="word-red">￥15K-30K</p>
					<ul>
						<li>广州</li>
						<li>1-3年</li>
						<li>本科</li>
					</ul>
				</div>
				<p class="local-time">20:20</p>
				<div class="speak-box">
					<div class="box-con">
						<div class="img">
						
						</div>
						<p>
							<i class="i-left-jian"></i>
							你好！
						</p>
					</div>
					
				</div>
				<div class="speak-box">
					<div class="box-con">
						<div class="img">
						
						</div>
						<p>
							<i class="i-left-jian"></i>
							你现在已经离职了？
						</p>
					</div>
					
				</div>
				<div class="speak-box">
					<div class="box-con">
						<div class="img">
						
						</div>
						<p>
							<i class="i-left-jian"></i>
							我是某公司的，请问你对这职业感兴趣？
						</p>
					</div>
					
				</div>
			</div>
			<form action>
				<div class="form-container">
					<textarea class="form-control" rows="4" placeholder="跟公司说点什么吧！"></textarea>

					<p class="error"></p>
					<input type="submit" value="发送" class="send">
				</div>
			</form>
			
		</div>
		<div class="con-r">
			<div class="search-box">
				<form action="" method="post">
					<input type="text" name="key" placeholder="请输入职位或公司名称" class="search">
					<input type="submit" value="搜索" class="btn btn-info">
				</form>
			</div>
			<!-- 职位显示表-->
			<div class="job-list">
				<a href="#">
					<div class="job-left">
						<p>前端工程师</p>
						<p class="word-red"><strong>￥15K-30K</strong></p>
						<ul>
							<li>广州</li>
							<li>1-3年</li>
							<li>本科</li>
						</ul>
					</div>
					<div class="job-coner">
						
					</div>
					<sup>职信道</sup>
				</a>
				<label>2016-12-20<span>更新</span></label>
			</div>
			<!-- 公司显示表-->
			<div class="company-dec">
				<div class="company-left">
					<div class="company-img">
						<img src="">
					</div>
					<div class="company-name">
						<p>公司名<span>招聘中</span></p>
						<span class="company-status">在线</span>
					</div>
					<a href="#" class="btn-chat">立即开聊</a>
				</div>
			</div>
			<!-- 职位详情-->
			<div class="job-detail">
				<p class="job-describe">职位描述</p>
				<p class="con-dec">职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述</p>
				<p class="job-require">岗位要求</p>
				<p class="con-dec">岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求岗位要求</p>
				<p class="company-address">公司地址</p>
				<p class="con-dec">公司地址公司地址公司地址公司地址公司地址公司地址</p>
			</div>
		</div>
	</div>
	 </div>
	
</body>
</html>