<ion-view view-title="首页" hide-nav-bar="true" >
  <ion-content>
    <div class="bar bar-header">
    <a>投递简历的状态</a>
    </div>
    <div class="bar bar-subheader row" >
			<div class="fl col"><a>全部</a><i class="icon ion-chevron-down"></i></div>
			<div class="line"></div>
			<div class="fl col"><a>投递成功</a><i class="icon ion-chevron-down"></i></div>
			<div class="line"></div>
			<div class="fl col"><a>被查看</a><i class="icon ion-chevron-down"></i></div>
			<div class="line"></div>
			<div class="fl col"><a>待沟通</a><i class="icon ion-chevron-down"></i></div>
			<div class="line"></div>
			<div ><a href="#"><i class="icon ion-chevron-right more"></i></a></div>
	  </div>
<div class="content has-header has-subheader ionic-pseudo con-item">
        <div class="item">
        <div class="word1">
        <div class="left">
	        <div class="img"><img src="img/ben.png" style="width: 30px; height: 30px;" /></div><div class="zhu">&nbsp;邱xx&nbsp;|&nbsp;高级PHP工程师（后台）</div>
	        </div>
	        <span>8K-12K</span>
        </div>
        <div class="line"></div>
        <div class="word2"><a>广州外保电子商务&nbsp;未融资</a><span>投递成功</span></div>
        <div class="word3">
        	<i class="ion-ios-location"></i><span>广州&nbsp;荔湾区&nbsp;岭南</span>
        	<i class="icon ion-social-buffer"></i><span>3-5年</span>
        	<i class="icon ion-university"></i><span>大专</span>
        </div>
    </div>
            <div class="item">
        <div class="word1">
        <div class="left">
	        <div class="img"><img src="img/ben.png" style="width: 30px; height: 30px;" /></div><div class="zhu">&nbsp;邱xx&nbsp;|&nbsp;高级PHP工程师（后台）</div>
	        </div>
	        <span>8K-12K</span>
        </div>
        <div class="line"></div>
        <div class="word2"><a>广州外保电子商务&nbsp;未融资</a><span>投递成功</span></div>
        <div class="word3">
        	<i class="ion-ios-location"></i><span>广州&nbsp;荔湾区&nbsp;岭南</span>
        	<i class="icon ion-social-buffer"></i><span>3-5年</span>
        	<i class="icon ion-university"></i><span>大专</span>
        </div>
    </div>
            <div class="item">
        <div class="word1">
        <div class="left">
	        <div class="img"><img src="img/ben.png" style="width: 30px; height: 30px;" /></div><div class="zhu">&nbsp;邱xx&nbsp;|&nbsp;高级PHP工程师（后台）</div>
	        </div>
	        <span>8K-12K</span>
        </div>
        <div class="line"></div>
        <div class="word2"><a>广州外保电子商务&nbsp;未融资</a><span>投递成功</span></div>
        <div class="word3">
        	<i class="ion-ios-location"></i><span>广州&nbsp;荔湾区&nbsp;岭南</span>
        	<i class="icon ion-social-buffer"></i><span>3-5年</span>
        	<i class="icon ion-university"></i><span>大专</span>
        </div>
    </div>
            <div class="item">
        <div class="word1">
        <div class="left">
	        <div class="img"><img src="img/ben.png" style="width: 30px; height: 30px;" /></div><div class="zhu">&nbsp;邱xx&nbsp;|&nbsp;高级PHP工程师（后台）</div>
	        </div>
	        <span>8K-12K</span>
        </div>
        <div class="line"></div>
        <div class="word2"><a>广州外保电子商务&nbsp;未融资</a><span>投递成功</span></div>
        <div class="word3">
        	<i class="ion-ios-location"></i><span>广州&nbsp;荔湾区&nbsp;岭南</span>
        	<i class="icon ion-social-buffer"></i><span>3-5年</span>
        	<i class="icon ion-university"></i><span>大专</span>
        </div>
    </div>
  </ion-content>
</ion-view>
