<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/enterprise/login.css">
    <link rel="stylesheet" href="__PUBLIC__/css/enterprise/register.css">
</head>
<body>
<div class="body">
    <div class="bg"></div>
    <div class="header"><img src="__PUBLIC__/images/enterprise/logo2.png"></div>
    <div class="login reg">
        <div class="touxiang"></div>
        <form action="{:U('Login/register')}" method="post">
            <div class="form-group">
                <input type="text" name="user_name" placeholder="用户名">
            </div>
            <div class="form-group">
                <input type="password" name="user_pwd" placeholder="密码">
            </div>
            <div class="form-group">
                <input type="password" name="user_pwd_confirm" placeholder="确认密码">
            </div>
            <p>请用户登录后尽快完善公司等待审核！</p>
            <div class="form-group sub">
                <input type="submit" class="btn btn-primary" value="注 册">
            </div>
        </form>
        <ul>
            <li><a href="{:U('Login/login')}">返回登录</a></li>
            <li>忘记密码？</li>
        </ul>
    </div>
</div>

</body>
</html>
