/* Empty. Add your own CSS if you like */
.bar-header{
	background: #55cac4;
}
.bar-header a {
	line-height: 33px;
	text-align: center;
	color: #ffffff;
	margin:0px auto;
	font-size: 18px;
}
.bar-subheader{
	border: 0px;
}
.bar-subheader .fl{
	padding: 0px 10px;
	text-align: center;
	line-height: 32px;
}
.bar-subheader .fl a{
	color: #969696;
	font-size: 14px;
}
.bar-subheader .fl i{
	color:#c7c7c7;
	padding-left: 2px;
	font-size: 9px;
}
.bar-subheader  .line{
	background: #e1e1e1;
	width: 1px;
	height: 14px;
	margin-top:10px ;
}
.bar-subheader .more{
	color: #969696;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	margin: 0px 20px;
}
.con-item {
	background: #f1f1f1;
	padding: 1px 10px;
}
.con-item .item{
	margin: 10px 0px;
	border: 0px;
	}
.con-item .item .word1{
	margin: 10px 0px;
	width: 100%;
	overflow: hidden;
	margin: 10px 0px;
	}
.con-item .item .word1 .left{
	float: left;
}
.con-item .item .word1 .img{
	width: 30px;
    height: 30px;
    background: red;
    border-radius: 15px;
    overflow: hidden;
    float: left;
}
.con-item .item .word1 .zhu{
	line-height: 30px;
	color: #71aca8;
	font-size: 16px;
}
.con-item .item .word1 span{
	color: #ca838b;
	font-size: 14px;
	float: right;
	line-height: 30px;
}
.con-item .item .line{
	background: #e5e5e5;
	overflow: hidden;
	height: 1px;
	margin: 10px auto;
}
.con-item .item .word2{
	width: 100%;
}
.con-item .item .word2 a{
	font-size: 14px;
	color: #8e8e8e;
	margin: 10px 0px;
	display: block;
	float: left;
}
.con-item .item .word2 span{
	font-size: 14px;
	font-weight: bold;
	color: #ff0000;
	margin: 10px 0px;
	display: block;
	float: right;
}
.con-item .item .word3{
	width: 100%;
	margin: 10px 0px;
	font-size:14px;
	color: #9c9c9c;
	float: left;
}
.con-item .item .word3 span{
	margin-right: 5px;
}
.con-item .item .word3 span{
	margin-right: 10px;
}

