<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的简历</title>
		<link rel="stylesheet" href="__PUBLIC__/css/jobseekers/resume.css">
	</head>

	<body>
		<section id="resume" class="container preview">
			<!--简历信息-->
			<article class="resume-inner">
				<!--用户头像-->
				<aside class="avatar">
					<img id="avatar-img" class="center" src="__PUBLIC__/images/u-avatar.png">
					<img id="avatar-bg" class="center" src="__PUBLIC__/images/u-avatar-bg.png" style="display: none;">
					<img class="absolute" src="__PUBLIC__/images/u-resume-dg.png">
				</aside>
				<!--基本信息-->
				<section id="user-info">
					<foreach name="resumes_basic" item="item">
						<div class="list text-center preview-resume">
							<span class="name">{$item.name}</span>
							<span class="intro">{$item.intro}</span>
							<span class="base">
								<em class="sex"><i class="icon"></i>{$item.sex}</em>
								<em class="birth">{$item.birth}</em>
								<em class="xl">{$item.xl}</em>
								<em class="gzjy">{$item.gzjy}</em>
								<em class="city">{$item.city}</em>
							</span>
							<span class="base">
								<em class="p"><i class="icon phone"></i>{$item.phone}</em>
								<em class="e"><i class="icon email"></i>{$item.email}</em>
							</span>
						</div>
					</foreach>
				</section>
				<!--工作经历-->
				<if condition="$resumes_jobexp">
					<section id="job-exp">
						<h5 class="resume-title"><span>工作经历</span></h5>
						<ul class="list">
							<foreach name="resumes_jobexp" item="item">
								<li>
									<div class="name">{$item.name}</div>
									<div>
										<span class="job">{$item.job}</span>
										<span class="fr">{$item.time}</span>
									</div>
									<p class="cont">{$item.cont}</p>
								</li>
							</foreach>
						</ul>
					</section>
				</if>
				<!--教育经历-->
				<if condition="$resumes_eduexp">
					<section id="edu-exp">
						<h5 class="resume-title"><span>教育经历</span></h5>
						<ul class="list">
							<foreach name="resumes_eduexp" item="item">
								<li>
									<div class="name">{$item.name}</div>
									<div>
										<span class="xl">{$item.xl}</span> -
										<span class="major">{$item.major}</span>
										<span class="grad fr">{$item.grad}</span>
									</div>
								</li>
							</foreach>
						</ul>
					</section>
				</if>
				<!--自我描述-->
				<if condition="$resumes_basic">
					<section id="self-des">
						<h5 class="resume-title"><span>自我描述</span></h5>
						<foreach name="resumes_basic" item="item">
							<p class="list">{$item.des}</p>
						</foreach>
					</section>
				</if>
				<!--求职意向-->
				<if condition="$resumes_career">
					<section id="job-career">
						<h5 class="resume-title"><span>求职意向</span></h5>
						<foreach name="resumes_career" item="item">
							<dl class="list clear">
								<dd class="name"><i></i>{$item.name}</dd>
								<dd class="type"><i></i>{$item.type}</dd>
								<dd class="city"><i></i>{$item.city}</dd>
								<dd class="wages"><i></i>{$item.wages}</dd>
							</dl>
						</foreach>
					</section>
				</if>
				<!--求职状态-->
				<if condition="$resumes_basic[0].state">
					<section class="text-center preview-state">
						<span id="job-state" class="preview-resume">{$resumes_basic[0].state}</span>
					</section>
				</if>
			</article>
		</section>
	</body>

</html>