<include file="Public:header" />
<link rel="stylesheet" href="__PUBLIC__/css/enterprise/company.css?9">

<div class="container">
    <form action="{:U('Company/save')}" method="post">
        <div class="content">
            <span class="top-tip">温馨提示 ：公司信息完善后，如需更改，请到APP上完成操作</span>
            <h1>公司信息</h1>
            <div class="content_box">
                <h3>公司全称</h3>
                <p class="info_item" id="company_name">{$company_info['company_name']}</p>
            </div>
            <div class="content_box area">
                <h3>公司地点</h3>
                <p>
                    {$company_info['city']}{$company_info['area']}
                </p>
                    <input type="text" name="province" class="iProvince hiden">
                    <input type="text" name="city" class="iCity hiden">
                    <input type="text" name="area" class="iArea hiden">
            </div>
            <div class="content_box">
                <h3>公司地址</h3>
                <p class="info_item" id="address">{$company_info['address']}</p>
            </div>
            <div class="content_box company_scale">
                <h3>公司规模</h3>
                <p>
                    {$company_info['scale']}
                </p>
                <input type="text" name="scale" class="iScale hiden">
            </div>

            <div class="content_box introduction">
                <h3>公司简介</h3>
                <div class="introduce">
                    <p class="info_item" id="introduction">{$company_info['introduction']}</p>
                </div>
            </div>

        </div>
        <div class="content">
            <h1>您的信息</h1>
            <div class="content_box">
                <h3>姓名</h3>
                <p class="info_item" id="name">{$enterprise_info['name']}</p>
            </div>
            <div class="content_box">
                <h3>职位</h3>
                <p class="info_item" id="job">{$enterprise_info['job']}</p>
                <span class="job_tip"></span>
            </div>
            <div class="content_box">
                <h3>邮箱</h3>
                <p class="info_item" id="email">{$enterprise_info['email']}</p>
            </div>
            <div class="content_box">
                <h3>电话</h3>
                <p class="info_item" id="phone">{$enterprise_info['phone']}</p>
            </div>
        </div>
        <div class="content">
            <p class="bottom_tip"></p>
            <input type="submit"  id_val= "{$enterprise_info['enterprise_id']}" id="submit" class="btn">
        </div>
    </form>
</div>

<include file="Public:footer" />
<script>
    if ("{$enterprise_info['auditing']}"=="1"){
        $("#submit").attr("disabled",true);
        $("#submit").attr("value","正在审核中");
        $(".btn-info").hide();
    }else if("{$enterprise_info['auditing']}"=="0"){
        $("#submit").attr("disabled",false);
        $("#submit").attr("value","申请审核");
        $("#submit").css({
            backgroundColor:"#53cac3",
            color:"white"
        });
        $(".hide").removeClass("hide");
        $(".info_item").html("<input type='text'>");
        $(".area p").html(""+
            '<select id="s_province" name="s_province"></select>'+

            '<select id="s_city" name="s_city" ></select>'+

            '<select id="s_county" name="s_county"></select>'
        )
        $(".company_scale p").html("<select data-first-title='选择规模' class='scale'>"+
            "<option value ='选择规模'>选择规模</option>"+
            "<option value ='0-20人'>0-20人</option>"+
            "<option value ='20-90人'>20-90人</option>"+
            "<option value ='100-499人'>100-499人</option>"+
            "<option value ='500-999人'>500-999人</option>"+
            "<option value ='1000-9999人'>1000-9999人</option>"+
            "<option value ='10000人以上'>10000人以上</option>"+
            "</select>"
        )
        for (var i=0;i<$(".info_item").length;i++){
            $(".info_item input").eq(i).attr("name",$(".info_item").eq(i).attr("id"));
        }
        $("#introduction").html("<textarea name='introduction'></textarea>");
        $("#introduction").css({
            paddingLeft:"0px"
        })
    }else if("{$enterprise_info['auditing']}" =="2"){
        $("#submit").attr("disabled",true);
        $("#submit").attr("value","已通过官方认证");
        $("#submit").css({
            color:"red",
            fontSize:"20px"
        });
    }
    var inHeight = parseInt($("#introduction").height())+10;
    $(".introduction").css({
        height:inHeight+"px"
    })

//    var Gid  = document.getElementById ;
//
//    var showArea = function(){
//
//        Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" +
//
//            Gid('s_city').value + " - 县/区" +
//
//            Gid('s_county').value + "</h3>"
//
//    }
//
//    $('#s_county').attr('onchange','showArea()');
</script>
<script src="__PUBLIC__/js/enterprise/company.js?6"></script>
<script class="resources library" src="__PUBLIC__/js/enterprise/area1.js" type="text/javascript"></script>
<script type="text/javascript">_init_area();</script>