.content {
  width: 900px;
  height: 1400px;
  max-width: 900px;
  margin: 30px auto;
  background-color: #ffffff;
  padding-top: 20px;
}
.content .form {
  width: 100%;
}
.content .form .content_box {
  padding: 20px 0;
  border-top: 1px solid #53cac3;
  width: 90%;
  margin: 20px auto;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  /* you could also put this in a class */
  -webkit-user-select: none;
  /* and add the CSS class here instead */
  -ms-user-select: none;
  user-select: none;
}
.content .form .content_box h5 {
  font-size: 18px;
  color: #53cac3;
}
.content .form .content_box p {
  color: red;
  margin-top: 20px;
  margin-bottom: 30px;
}
.content .form .content_box .form-group {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.content .form .content_box .form-group select {
  height: 40px;
  color: #000000;
  padding-left: 5px;
  width: 145px;
  display: block;
  float: left;
  margin-left: 20px;
}
.content .form .content_box .form-group .salary {
  display: block;
  line-height: 40px;
  font-size: 20px;
  float: left;
  margin: 0 0 0 20px;
}
.content .form .content_box .form-group .sp {
  margin-left: 18px;
  width: 420px;
  text-align: center;
  color: #000000;
  font-size: 18px;
  float: left;
}
.content .form .content_box .form-group .tit {
  float: left;
  font-size: 13px;
  width: 100px;
  margin-left: 60px;
  text-align: right;
}
.content .form .content_box .form-group input,
.content .form .content_box .form-group textarea {
  margin-left: 20px;
  float: left;
  height: 40px;
  width: 390px;
  padding-left: 10px;
}
.content .form .content_box .form-group textarea {
  width: 500px;
  height: 200px;
  resize: none;
}
.content .form .content_box .form-group .write {
  line-height: 40px;
  color: red;
  margin-left: 20px;
}
.content .form .content_box .form-group .job_tip {
  display: block;
  line-height: 40px;
  color: red;
  position: absolute;
  top: 0;
  right: 250px;
}
.content .form .content_box .form-group p {
  margin: 0;
}
.content .form .content_box .job-require {
  height: 200px;
}
.content .form .btn {
  margin: 0 332px;
  width: 146px;
  height: 50px;
  font-size: 20px;
  line-height: 38px;
  font-weight: 600;
  color: #ffffff;
  background-color: #53cac3;
}
.content .form .qu {
  border-top: none;
}
