.content{
    width: 900px;
    height: 1400px;
    max-width: 900px;
    margin: 30px auto;
    background-color: #ffffff;
    padding-top: 20px;
    .form{
        width: 100%;
        .content_box{
            padding: 20px 0;
            border-top: 1px solid #53cac3;
            width: 90%;
            margin: 20px auto;

            moz-user-select: -moz-none;
            -moz-user-select: none;
            -o-user-select:none;
            -khtml-user-select:none; /* you could also put this in a class */
            -webkit-user-select:none;/* and add the CSS class here instead */
            -ms-user-select:none;
            user-select:none;
            h5{
                font-size: 18px;
                color: #53cac3;
            }
            p{
                color: red;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .form-group{
                width: 100%;
                height: 40px;
                line-height: 40px;
                position: relative;
                select{
                    height: 40px;
                    color: #000000;
                    padding-left: 5px;
                    width: 145px;
                    display: block;
                    float: left;
                    margin-left: 20px;
                }
                .salary{
                    display: block;
                    line-height: 40px;
                    font-size: 20px;
                    float: left;
                    margin:0 0 0 20px;
                }
                .sp{
                    margin-left: 18px;
                    width: 420px;
                    text-align: center;
                    color: #000000;
                    font-size: 18px;
                    float: left;
                }
                .tit{
                    float: left;
                    font-size: 13px;
                    width: 100px;
                    margin-left: 60px;
                    text-align: right;
                }
                input,textarea{
                    margin-left: 20px;
                    float: left;
                    height: 40px;
                    width: 390px;
                    padding-left: 10px;
                }
                textarea{
                    width: 500px;
                    height: 200px;
                    resize: none;
                }
                .write{
                    line-height: 40px;
                    color: red;
                    margin-left: 20px;
                }
                .job_tip{
                    display: block;
                    line-height: 40px;
                    color: red;
                    position: absolute;
                    top: 0;
                    right: 250px;
                }
                p{
                    margin: 0;
                }
            }
            .job-require{
                height: 200px;
            }
        }
        .btn{
            margin: 0 332px;
            width: 146px;
            height: 50px;
            font-size: 20px;
            line-height: 38px;
            font-weight: 600;
            color: #ffffff;
            background-color: #53cac3;
        }
        .qu{
            border-top: none;
        }
    }

}