.content {
  width: 900px;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px 0;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  /* you could also put this in a class */
  -webkit-user-select: none;
  /* and add the CSS class here instead */
  -ms-user-select: none;
  user-select: none;
}
.content .top-tip {
  color: #b9b9b9;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 14px;
}
.content h1 {
  color: #53cac3;
  font-size: 23px;
  font-weight: 600;
  margin: 10px 0 20px 30px;
}
.content .content_box {
  width: 700px;
  min-width: 700px;
  margin-left: 80px;
  height: 40px;
  margin-top: 20px;
  position: relative;
}
.content .content_box .hiden {
  display: none;
}
.content .content_box .job_tip {
  display: block;
  position: absolute;
  right: 75px;
  top: 0;
  line-height: 40px;
  color: red;
  font-size: 15px;
}
.content .content_box h3 {
  float: left;
  margin: 0;
  line-height: 40px;
  font-size: 18px;
  width: 75px;
}
.content .content_box p {
  float: left;
  width: 520px;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  margin-left: 70px;
}
.content .content_box p input {
  float: left;
  width: 500px;
  padding-left: 10px;
  height: 40px;
}
.content .content_box p select {
  float: left;
  width: 150px;
  height: 40px;
  padding-left: 5px;
}
.content .content_box p select + select {
  margin-left: 20px;
}
.content .content_box .introduce {
  float: left;
  width: 520px;
  position: absolute;
  top: 0;
  left: 140px;
  padding: 5px;
}
.content .content_box .introduce p {
  margin-left: 0px;
}
.content .content_box .introduce textarea {
  float: left;
  width: 500px;
  padding-left: 10px;
  line-height: 20px;
  z-index: 100;
  height: 300px;
  resize: none;
  text-align: left;
  border-radius: 5px;
}
.content .content_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
}
.content .introduction {
  margin-bottom: 10px;
  position: relative;
}
.content #submit {
  width: 30%;
  display: block;
  margin-left: 35%;
  height: 50px;
  font-size: 20px;
}
