
.content{
    width: 900px;
    margin: 30px auto;
    position: relative;
    background-color: #ffffff;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none; /* you could also put this in a class */
    -webkit-user-select:none;/* and add the CSS class here instead */
    -ms-user-select:none;
    user-select:none;
    form{
        background-color: #53cac3;
        padding: 20px 0;
        .search_nav{
            width: 100%;
            height: 70px;
            .dropdown{
                width: 29%;
                float: left;
                height: 70px;
                margin-left: 3%;
                h5{
                    color: white;
                    padding-left: 5px;
                }
                button{
                    width: 100%;
                }
                ul{
                    width: 100%;
                }
            }
        }
        .search_box{
            width: 100%;
            margin-top: 20px;
            height: 40px;
            input[type='text']{
                margin-left: 3%;
                width: 61%;
                height: 40px;
                resize: none;
                padding-left: 10px;
                border-radius: 3px;
            }
            input[type='button']{
                margin-left: 3%;
                height: 40px;
                width: 20%;
                border: none;
            }
        }
    }
    .tit_box{
        background-color: #f8f8f8;
        height: 50px;
        width: 100%;
        margin: 0;
        max-width: 900px;
        padding: 0;
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select:none; /* you could also put this in a class */
        -webkit-user-select:none;/* and add the CSS class here instead */
        -ms-user-select:none;
        user-select:none;
        div{
            float: left;
            list-style: none;
            line-height: 50px;
            font-size: 14px;
            text-align: center;
            padding: 0;
        }
    }
    .row{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .table{
        max-width: 900px;
        th{
            padding: 0;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-weight: normal;
            input{
                width: 100%;
                height: 100%;
            }
            .btn-info{
                height: 31px;
                margin-top: -3px;
            }
        }
    }
    .detail{
        width: 500px;
        position: absolute;
        top: 230px;
        left: 200px;
        border-radius: 8px;
        background-color: #53cac3;
        color: white;
        h3{
            font-size: 16px;
            margin-left: 30px;
        }
        p{
            padding: 0 30px;
        }
        .address{
            margin-top: 30px;
            margin-bottom: 25px;
        }
    }
    .tip{
        margin-top: 20px;
        p{
            text-align: center;
        }
        .btn{
            width: 20%;
            margin-left: 40%;
            height: 40px;
            a{
                color: white;
                font-size: 18px;
            }
            a:hover{
                text-decoration: none;
            }
        }
    }
    .page_box{
        height: 25px;
        margin-top: 20px;
        padding: 0 auto;
        div{
            font-size: 15px;
            line-height: 25px;
            height: 25px;
            text-align: center;
            a{
                margin: 0 10px;
            }
            span{
                margin: 0 10px;
            }
        }
    }
}