.content {
  width: 900px;
  margin: 30px auto;
  position: relative;
  background-color: #ffffff;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  /* you could also put this in a class */
  -webkit-user-select: none;
  /* and add the CSS class here instead */
  -ms-user-select: none;
  user-select: none;
}
.content form {
  background-color: #53cac3;
  padding: 20px 0;
}
.content form .search_nav {
  width: 100%;
  height: 70px;
}
.content form .search_nav .dropdown {
  width: 29%;
  float: left;
  height: 70px;
  margin-left: 3%;
}
.content form .search_nav .dropdown h5 {
  color: white;
  padding-left: 5px;
}
.content form .search_nav .dropdown button {
  width: 100%;
}
.content form .search_nav .dropdown ul {
  width: 100%;
}
.content form .search_box {
  width: 100%;
  margin-top: 20px;
  position: relative;
  height: 40px;
}
.content form .search_box input[type='text'] {
  margin-left: 3%;
  width: 61%;
  height: 40px;
  resize: none;
  padding-left: 10px;
  border-radius: 3px;
}
.content form .search_box .search {
  margin-left: 3%;
  height: 40px;
  width: 20%;
  border: none;
}
.content form .search_box .back_up {
  position: absolute;
  bottom: 3px;
  right: 10px;
  color: white;
}
.content form .hot {
  position: absolute;
  top: 50px;
  width: 250px;
  line-height: 23px;
  right: 3%;
  color: #3e50cc;
  font-size: 15px;
}
.content form .hot a {
  color: white;
  font-size: 15px;
  margin: 0 5px;
}
.content .tit_box {
  background-color: #f8f8f8;
  height: 50px;
  width: 100%;
  margin: 0;
  max-width: 900px;
  padding: 0;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  /* you could also put this in a class */
  -webkit-user-select: none;
  /* and add the CSS class here instead */
  -ms-user-select: none;
  user-select: none;
}
.content .tit_box div {
  float: left;
  list-style: none;
  line-height: 50px;
  font-size: 14px;
  height: 50px;
  text-align: center;
  padding: 0;
}
.content .tit_box div input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin-top: 17px;
  cursor: pointer;
}
.content .tit_box .control {
  padding-left: 40px;
}
.content .tit_box .delete_all {
  cursor: pointer;
  color: red;
}
.content .row {
  width: 100%;
  margin: 0;
  padding: 0;
}
.content .table {
  max-width: 900px;
}
.content .table tr {
  position: relative;
}
.content .table tr td {
  padding: 0;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
.content .table tr td input {
  width: 100%;
  height: 35px;
}
.content .table tr td input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  cursor: pointer;
}
.content .table tr td .btn {
  height: 30px;
  margin-top: -5px;
  padding: 0;
  line-height: 30px;
  text-align: center;
  width: 55px;
}
.content .table tr .status {
  font-weight: 600;
}
.content .table tr .detail {
  margin: 0 30px;
  position: relative;
}
.content .table tr .detail h3 {
  text-align: left;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  margin: 5px 0;
}
.content .table tr .detail p {
  text-align: left;
  margin: 0 0 5px 0;
  line-height: 18px;
  font-size: 13px;
}
.content .table tr .detail .revise {
  position: absolute;
  top: 3px;
  right: -7px;
}
.content .table tr .detail .revise a {
  color: white;
}
.content .table tr .detail .revise a:hover {
  text-decoration: none;
}
.content .table .detail_box {
  display: none;
}
.content .tip {
  margin-top: 20px;
}
.content .tip p {
  text-align: center;
}
.content .tip a {
  width: 20%;
  margin-left: 40%;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  color: white;
  padding: 0;
  font-size: 18px;
}
.content .tip a:hover {
  text-decoration: none;
}
.content .page_box {
  height: 25px;
  margin-top: 20px;
  padding: 0 auto;
}
.content .page_box div {
  font-size: 15px;
  line-height: 25px;
  height: 25px;
  text-align: center;
}
.content .page_box div a {
  margin: 0 10px;
}
.content .page_box div span {
  margin: 0 10px;
}
.modal-dialog {
  margin-top: 200px;
  min-width: 200px;
  height: 150px;
  width: 300px;
}
.modal-dialog .modal-content {
  width: 100%;
  height: 100%;
}
.modal-dialog .modal-content .warning {
  margin: 30px 0;
}
.modal-dialog .modal-content .warning p {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
.modal-dialog .modal-content .btn {
  width: 90px;
  position: absolute;
  bottom: 30px;
}
.modal-dialog .modal-content .confirm {
  left: 38px;
}
.modal-dialog .modal-content .cancel {
  right: 38px;
}
