.content {
  width: 900px;
  margin: 30px auto;
  background-color: #ffffff;
}
.content form {
  background-color: #53cac3;
  padding: 20px 0;
}
.content form .search_nav {
  width: 100%;
  height: 70px;
}
.content form .search_nav .dropdown {
  width: 29%;
  float: left;
  height: 70px;
  margin-left: 3%;
}
.content form .search_nav .dropdown h5 {
  color: white;
  padding-left: 5px;
}
.content form .search_nav .dropdown button {
  width: 100%;
}
.content form .search_nav .dropdown ul {
  width: 100%;
}
.content form .search_box {
  width: 100%;
  margin-top: 20px;
  height: 40px;
}
.content form .search_box input[type='text'] {
  margin-left: 3%;
  width: 61%;
  height: 40px;
  resize: none;
  padding-left: 10px;
  border-radius: 3px;
}
.content form .search_box input[type='button'] {
  margin-left: 3%;
  height: 40px;
  width: 20%;
  border: none;
}
.content .tit_box {
  background-color: #f8f8f8;
  height: 50px;
  width: 100%;
  margin: 0;
  max-width: 900px;
  padding: 0;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  /* you could also put this in a class */
  -webkit-user-select: none;
  /* and add the CSS class here instead */
  -ms-user-select: none;
  user-select: none;
}
.content .tit_box div {
  float: left;
  list-style: none;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  padding: 0;
}
.content .row {
  width: 100%;
  margin: 0;
  padding: 0;
}
.content .table {
  max-width: 900px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  /* you could also put this in a class */
  -webkit-user-select: none;
  /* and add the CSS class here instead */
  -ms-user-select: none;
  user-select: none;
}
.content .table th {
  padding: 0;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-weight: normal;
}
.content .table th input {
  width: 100%;
  height: 100%;
}
