
.content{
    width: 900px;
    margin: 30px auto;
    position: relative;
    background-color: #ffffff;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none; /* you could also put this in a class */
    -webkit-user-select:none;/* and add the CSS class here instead */
    -ms-user-select:none;
    user-select:none;
    form{
        background-color: #53cac3;
        padding: 20px 0;
        .search_nav{
            width: 100%;
            height: 70px;
            .dropdown{
                width: 29%;
                float: left;
                height: 70px;
                margin-left: 3%;
                h5{
                    color: white;
                    padding-left: 5px;
                }
                button{
                    width: 100%;
                }
                ul{
                    width: 100%;
                }
            }
        }
        .search_box{
            width: 100%;
            margin-top: 20px;
            position: relative;
            height: 40px;
            input[type='text']{
                margin-left: 3%;
                width: 61%;
                height: 40px;
                resize: none;
                padding-left: 10px;
                border-radius: 3px;
            }
            .search{
                margin-left: 3%;
                height: 40px;
                width: 20%;
                border: none;
            }
            .back_up{
                position: absolute;
                bottom: 3px;
                right: 10px;
                color: white;
            }
        }
        .hot{
            position: absolute;
            top: 50px;
            width: 250px;
            line-height: 23px;
            right: 3%;
            color: #3e50cc;
            font-size: 15px;
            a{
                color: white;
                font-size: 15px;
                margin: 0 5px;
            }
        }
    }
    .tit_box{
        background-color: #f8f8f8;
        height: 50px;
        width: 100%;
        margin: 0;
        max-width: 900px;
        padding: 0;
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select:none; /* you could also put this in a class */
        -webkit-user-select:none;/* and add the CSS class here instead */
        -ms-user-select:none;
        user-select:none;
        div{
            float: left;
            list-style: none;
            line-height: 50px;
            font-size: 14px;
            height: 50px;
            text-align: center;
            padding: 0;
            input[type=checkbox]{
                width: 15px;
                height: 15px;
                margin-top: 17px;
                cursor: pointer;
            }
        }
        .control{
            padding-left: 40px;
        }
        .delete_all{
            cursor: pointer;
            color: red;
        }
    }
    .row{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .table{
        max-width: 900px;
        tr{
            position: relative;
            td{
                padding: 0;
                height: 40px;
                line-height: 40px;
                overflow: hidden;
                text-align: center;
                font-weight: normal;
                border-bottom: 1px solid #ccc;
                input{
                    width: 100%;
                    height: 35px;
                }
                input[type=checkbox]{
                    width: 15px;
                    height: 15px;
                    margin-top: 10px;
                    cursor: pointer;
                }
                .btn{
                    height: 30px;
                    margin-top: -5px;
                    padding: 0;
                    line-height: 30px;
                    text-align: center;
                    width: 55px;
                }
            }
            .status{
                font-weight: 600;
            }
            .detail{
                margin: 0 30px;
                position: relative;
                h3{
                    text-align: left;
                    height: 18px;
                    line-height: 18px;
                    font-size: 14px;
                    margin: 5px 0;
                }
                p{
                    text-align: left;
                    margin: 0 0 5px 0;
                    line-height: 18px;
                    font-size: 13px;
                }
                .revise{
                    position: absolute;
                    top: 3px;
                    right: -7px;
                    a{
                        color: white;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        .detail_box{
            display: none;
        }
    }
    .tip{
        margin-top: 20px;
        p{
            text-align: center;
        }
        a{
            width: 20%;
            margin-left: 40%;
            height: 40px;
            margin-top: 10px;
            line-height: 40px;
            color: white;
            padding: 0;
            font-size: 18px;
        }
        a:hover{
            text-decoration: none;
        }

    }
    .page_box{
        height: 25px;
        margin-top: 20px;
        padding: 0 auto;
        div{
            font-size: 15px;
            line-height: 25px;
            height: 25px;
            text-align: center;
            a{
                margin: 0 10px;
            }
            span{
                margin: 0 10px;
            }
        }
    }
}
.modal-dialog{
    margin-top: 200px;
    min-width: 200px;
    height: 150px;
    width: 300px;
    .modal-content{
        width: 100%;
        height: 100%;
        .warning{
            margin: 30px 0;
            p{
                text-align: center;
                line-height: 30px;
                font-size: 20px;
            }
        }
        .btn{
            width: 90px;
            position: absolute;
            bottom: 30px;
        }
        .confirm{
            left: 38px;
        }
        .cancel{
            right: 38px;
        }
    }
}