html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 微软雅黑;
}
body .body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
body .body .background {
  width: 100%;
}
body .body .background img {
  width: 100%;
}
body .body .login {
  width: 34%;
  height: 100%;
  position: absolute;
  z-index: 3;
  left: 33%;
  top: 0;
}
body .body .login .logo {
  width: 80px;
  height: 80px;
  margin: 50px auto 0;
  border-radius: 50%;
  background-color: black;
}
body .body .login h1 {
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: white;
  font-size: 40px;
}
body .body .login form .form-group {
  width: 60%;
  margin: 0 auto;
}
body .body .login form .form-group input {
  width: 100%;
  margin: 0 auto;
  color: white;
  margin: 30px 0 10px;
  line-height: 30px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px white solid;
}
body .body .login form .form-group .write {
  background-color: rgba(0, 0, 0, 0) !important;
}
body .body .login form .form-group .code {
  width: 50%;
  float: left;
}
body .body .login form .form-group .img {
  width: 50%;
  float: left;
}
body .body .login form .form-group input[type=submit] {
  border: none;
  background-color: #f0b950;
  border-radius: 80px;
  margin: 40px 0 0;
  line-height: 43px;
  font-size: 20px;
  font-weight: 600;
}
body .body .login .help {
  width: 140px;
  padding: 0;
  height: 30px;
  margin: 30px auto;
}
body .body .login .help li {
  list-style: none;
  float: left;
  padding: 0 5px;
}
body .body .login .help li a {
  color: white;
  font-size: 12px;
}
body .body .login .help li .register_btn {
  color: #f0b950;
  text-decoration: underline;
}
body .body .login .help li + li {
  border-left: 1px white solid;
}
body .body .login .footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
}
body .body .login .footer div {
  font-size: 5px;
  color: #b6b7b9;
  width: 100%;
  text-align: center;
}
