.content{
    width: 900px;
    max-width: 900px;
    margin: 30px auto;
    padding-bottom: 10px;
    background-color: #ffffff;
    form{
        background-color: #53cac3;
        padding: 20px 0;
        .search_nav{
            width: 100%;
            height: 70px;
            .dropdown{
                width: 29%;
                float: left;
                height: 70px;
                margin-left: 3%;
                h5{
                    color: white;
                    padding-left: 5px;
                }
                button{
                    width: 100%;
                }
                ul{
                    width: 100%;
                }
            }
        }
        .search_box{
            width: 100%;
            margin-top: 20px;
            height: 40px;
            input[type='text']{
                margin-left: 3%;
                width: 61%;
                height: 40px;
                resize: none;
                padding-left: 10px;
                border-radius: 3px;
            }
            input[type='button']{
                margin-left: 3%;
                height: 40px;
                width: 20%;
                border: none;
            }
        }
    }
    .tit_box{
        width: 100%;
        position: relative;
        max-width: 900px;
        margin: 0;
        padding: 7px 0;
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select:none; /* you could also put this in a class */
        -webkit-user-select:none;/* and add the CSS class here instead */
        -ms-user-select:none;
        user-select:none;
        div{
            text-align: center;
            padding: 0;
        }
    }
    .table{
        margin: 0;
        width: 100%;
        max-width: 900px;
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select:none; /* you could also put this in a class */
        -webkit-user-select:none;/* and add the CSS class here instead */
        -ms-user-select:none;
        user-select:none;
        tr{
            margin-top: 5px;
            height: 20px;
            width: 100%;
            th{
                padding: 0;
                height: 35px;
                line-height: 35px;
                text-align: center;
                font-weight: normal;
            }
            .state{
                position: relative;
                cursor: pointer;
                input{
                    height: 29px;
                    line-height: 17px;
                    position: absolute;
                    right: 8px;
                    top: 3px;
                    background-color: #ffffff;
                    border: none;
                }
            }
        }
    }
}