<include file="Public:header" />
<link rel="stylesheet" href="__PUBLIC__/css/enterprise/layout.css">
<link rel="stylesheet" href="__PUBLIC__/css/enterprise/add.css?6">


<div class="container">
    <div class="content">
        <form action="{:U('Add/save_revise')}" method="post" class="form">
            <div class="content_box qu">
                <h5>公司基本信息<span style="color: red ;font-weight: 600;font-size: 22px">*</span></h5>
                <p class="tip"></p>
                <div class="form-group">
                    <div class="tit">公司全称</div>
                    <p class="sp">{$job_info['company_name']}</p>
                    <input type="text" name="company_name" value="{$job_info['company_name']}" class="hide">
                </div>
            </div>
            <div class="content_box">
                <h5>职业基本信息<span style="color: red ;font-weight: 600;font-size: 22px">*</span></h5>
                <div class="form-group">
                    <div class="tit">职位名称</div>
                    <input type="text" name="job_name" id="jobName" value="{$job_info['job_name']}">
                    <span class="job_tip"></span>
                </div>
                <div class="form-group">
                    <div class="tit">工作地点</div>
                    <input type="text"  name="province" class="hide" value="{$job_info['province']}">
                    <input type="text"  name="city" class="hide" value="{$job_info['city']}">
                    <input type="text"  name="area" class="hide" value="{$job_info['area']}">
                    <select id="s_province" name="s_province" data-value="{$company_info['province']}"></select>
                    <select id="s_city" name="s_city" ></select>
                    <select id="s_county" name="s_county"></select>
                </div>
                <div class="form-group">
                    <div class="tit">工作地址</div>
                    <input type="text" name="address" value="{$job_info['address']}" id="address">

                </div>
                <div class="form-group">
                    <div class="tit">职位月薪</div>
                    <input type="text" name="salary_lowLimit" class="hide salary_lowLimit">
                    <select data-first-title="选择最低薪资" id="salary_lowLimit" data-value="{$job_info['salary_low']}" required>
                        <option value="{$job_info['salary_low']}">{$job_info['salary_low']}</option>
                    </select>
                    <span class="salary">到</span>
                    <input type="text" name="salary_higLimit" data-value="{$job_info['salary_hig']}" class="hide salary_higLimit">
                    <select id="salary_higLimit">
                        <option value="{$job_info['salary_hig']}">{$job_info['salary_hig']}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="tit">学历要求</div>
                    <input type="text" name="education" class="hide education" required>
                    <select data-first-title="选择学历" id="education" data-value="{$job_info['education']}">
                        <option value="{$job_info['education']}">{$job_info['education']}</option>
                        <option value="不限">不限</option>
                        <option value="大专">大专</option>
                        <option value="本科">本科</option>
                        <option value="博士">博士</option>
                        <option value="硕士">硕士</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="tit">经验要求</div>
                    <input type="text" name="work_time" class="hide work_time" >
                    <select data-first-title="选择工作经验" id="work_time" data-value="{$job_info['work_time']}" required>
                        <option value="{$job_info['work_time']}">{$job_info['work_time']}</option>
                        <option value="不限">不限</option>
                        <option value="应届生">应届生</option>
                        <option value="1年以内">1年以内</option>
                        <option value="1-3年">1-3年</option>
                        <option value="3-5年">3-5年</option>
                        <option value="5-10年">5-10年</option>
                        <option value="10年以上">10年以上</option>
                    </select>
                </div>
                <div class="form-group job-require">
                    <div class="tit">技能要求</div>
                    <textarea  name="job_require" id="jobReq">{$job_info['job_require']}</textarea>
                </div>
                <div class="form-group job-require">
                    <div class="tit">职业描述</div>
                    <textarea  name="job_describe" id="jobDes">{$job_info['job_describe']}</textarea>
                </div>
            </div>
            <div class="content_box">
                <h5>其他信息<span style="color: red ;font-weight: 600;font-size: 22px">*</span></h5>
                <div class="form-group">
                    <div class="tit">简历接收邮箱</div>
                    <input type="text" name="email" value="{$job_info['email']}" id="email">
                </div>
            </div>
            <p class="bottom_tip"></p>
            <div class="content_box qu">
                <input type="hidden" value="{$job_info['id']}" name="id">
                <input type="submit" value="修 改" class="btn submit">
            </div>
        </form>

    </div>
</div>
</div>
<include file="Public:footer" />
<script src="__PUBLIC__/js/enterprise/add_job.js?38"></script>
<script>
    var opt0 = ["{$job_info['province']}","{$job_info['city']}","{$job_info['area']}"];//初始值
</script>
<script class="resources library" src="__PUBLIC__/js/enterprise/area.js?9" type="text/javascript"></script>
<script type="text/javascript">_init_area();</script>

