<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="resume.css">-->
    <link rel="stylesheet" href="__PUBLIC__/css/jobseekers/resume2.css">
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-3.3.0/css/bootstrap.min.css">

</head>
<body>
<header id="header">
    <nav class="navbar navbar-default " role="navigation">

                <a class="navbar-brand" href="#"><img src="__PUBLIC__/images/logo.png"></a>
                <ul class="nav navbar-nav  nav-bottom navbar-center">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>  
    </nav>
</header>

<div class="box">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-2 col-md-offset-2">-->
            <!--</div>-->
            <div class="right col-md-8 box-right">
                <div class="box-right-top">

                        <h1>已投递简历状态</h1>
                        <select>
                            <option>2个月内投递</option>
                            <option>1个星期内投递</option>
                        </select>
                        <div class=" sx"><div class=" gx"></div>刷新</div>
                </div>
                <div class="box-right-content">
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav  tab-ul nav-tabs" role="tablist">
                            <li role="presentation" class=""><a href="#all" id="all-tab" role="tab" data-toggle="tab" aria-controls="all" aria-expanded="false">全部</a></li>
                            <li role="presentation" class="active"><a href="#success" role="tab" id="success-tab" data-toggle="tab" aria-controls="success" aria-expanded="true">投递成功</a></li>
                            <li role="presentation" class=""><a href="#viewed" role="tab" id="viewed-tab" data-toggle="tab" aria-controls="viewed" aria-expanded="false">被查看</a></li>
                            <li role="presentation" class=""><a href="#communicate" role="tab" id="communicate-tab" data-toggle="tab" aria-controls="communicate" aria-expanded="false">待沟通</a></li>
                            <li role="presentation" class=""><a href="#invited" role="tab" id="invited-tab" data-toggle="tab" aria-controls="invited" aria-expanded="false">邀请面试</a></li>
                            <li role="presentation" class=""><a href="#inappropriate" role="tab" id="inappropriate-tab" data-toggle="tab" aria-controls="inappropriate" aria-expanded="false">不合适</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content tab-ul-content">
                            <div role="tabpanel" class="tab-pane fade" id="all" aria-labelledby="all-tab">
                                <p>全部</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade active in" id="success" aria-labelledby="success-tab">
                                <p>投递成功</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="viewed" aria-labelledby="viewed-tab">
                                <p>被查看</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="communicate" aria-labelledby="communicate-tab">
                                <p>待沟通</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="invited" aria-labelledby="invited-tab">
                                <p>邀请面试</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="inappropriate" aria-labelledby="inappropriate-tab">
                                <p>不合适</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <ul class="tab-like">
                    <li>猜你喜欢</li>
                </ul>
                <div class="tab-like-content">
                    <ul>
                        <li>
                            <div class="company-logo">
                                <img src="__PUBLIC__/images/avatar.png">
                            </div>
                            <div class="company-content">
                                <h4>爬虫工程师（实习）</h4>
                                <p>4k-7k</p>
                                <span >宏利公司</span>
                                <span class="address">[广州]</span>
                            </div>
                        </li>
                        <li>
                            <div class="company-logo">
                                <img src="__PUBLIC__/images/avatar.png">
                            </div>
                            <div class="company-content">
                                <h4>爬虫工程师（实习）</h4>
                                <p>4k-7k</p>
                                <span >宏利公司</span>
                                <span class="address">[广州]</span>
                            </div>
                        </li>
                    </ul>
                    <div class="tab-like-more">更多猜你喜欢的职位 ></div>
                </div>


            </div>

        </div>
    </div>

</div>
		<script type="text/javascript" src="__PUBLIC__/js/jobseekers/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/css/bootstrap-3.3.0/js/bootstrap.min.js"></script>
</body>
</html>