<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/css/jobseekers/resume.css">
    <link rel="stylesheet" href="__PUBLIC__/css/jobseekers/resume2.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-3.3.0/css/bootstrap.min.css">
	 
</head>
<body>
		<header id="header">
			<nav class="container">
				<a class="logo" href=""><img src="__PUBLIC__/images/logo.png"></a>
				<a class="nav-link selected" href="{:U('Index/index')}">首页</a>
				<a class="nav-link" href="{:U('Index/delivery')}">投递箱</a>
                <a class="nav-link fr" href="{:U('Login/log_out')}">退出</a>
                <foreach name="seekers_info" item="item">
                <a class="nav-link fr" href="{:U('Index/index')}">{$item.nickname}</a>
                </foreach>
                
                
				
			</nav>
		</header>

<div class="box">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-2 col-md-offset-2">-->
            <!--</div>-->
            <div class="right col-md-8 box-right">
                <div class="box-right-top">

                        <h1>已投递简历状态</h1>
                        <select>
                            <option>2个月内投递</option>
                            <option>1个星期内投递</option>
                        </select>
                        <div class=" sx"><div class=" gx"></div>刷新</div>
                </div>
                <div class="box-right-content">
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav  tab-ul nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#all" id="all-tab" role="tab" data-toggle="tab" aria-controls="all" aria-expanded="false">全部</a></li>
                            <li role="presentation" class=""><a href="#success" role="tab" id="success-tab" data-toggle="tab" aria-controls="success" aria-expanded="true">投递成功</a></li>
                            <li role="presentation" class=""><a href="#viewed" role="tab" id="viewed-tab" data-toggle="tab" aria-controls="viewed" aria-expanded="false">被查看</a></li>
                            <li role="presentation" class=""><a href="#communicate" role="tab" id="communicate-tab" data-toggle="tab" aria-controls="communicate" aria-expanded="false">待沟通</a></li>
                            <li role="presentation" class=""><a href="#invited" role="tab" id="invited-tab" data-toggle="tab" aria-controls="invited" aria-expanded="false">邀请面试</a></li>
                            <li role="presentation" class=""><a href="#inappropriate" role="tab" id="inappropriate-tab" data-toggle="tab" aria-controls="inappropriate" aria-expanded="false">不合适</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content tab-ul-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="all" aria-labelledby="all-tab">
                                
                                <ul>
                               <if 
                                 <foreach name="delivery_info" item="item">
                                	<li>
                                    	<div class="d_item">
                                            <h2 title="web前端开发工程师">
                                                <a href="#" data-index="0" target="_blank" title="web前端开发工程师">
                                                    <em>{$item.job_name}</em>
                                                    <span>{$item.money}</span>					                        	                                    	</a>
                                            </h2>
                                            <a href="#" target="_blank" class="d_jobname" title="{$item.company_name}">
                                               {$item.company_name} <span>[{$item.address}]</span>
                                            </a>
                                            <div class="d_resume">
                                                使用简历：
                                                <span>在线简历</span>
                                            </div>
                                            <span href="javascript:;" class="btn_showprogress">
                                                 <span>不合适</span>
                                             </span>
                                             <span class="d_time">{$item.delivery_time}</span>
                                        </div>
                                    
                                    </li>
                                   </foreach>
                                </ul>
                                
                              
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="success" aria-labelledby="success-tab">
                                <p>投递成功</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="viewed" aria-labelledby="viewed-tab">
                                <p>被查看</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="communicate" aria-labelledby="communicate-tab">
                                <p>待沟通</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="invited" aria-labelledby="invited-tab">
                                <p>邀请面试</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="inappropriate" aria-labelledby="inappropriate-tab">
                                <p>不合适</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <ul class="tab-like">
                    <li>猜你喜欢</li>
                </ul>
                <div class="tab-like-content">
                    <ul>
                        <li>
                            <div class="company-logo">
                                <img src="__PUBLIC__/images/avatar.png">
                            </div>
                            <div class="company-content">
                                <h4>爬虫工程师（实习）</h4>
                                <p>4k-7k</p>
                                <span >宏利公司</span>
                                <span class="address">[广州]</span>
                            </div>
                        </li>
                        <li>
                            <div class="company-logo">
                                <img src="__PUBLIC__/images/avatar.png">
                            </div>
                            <div class="company-content">
                                <h4>爬虫工程师（实习）</h4>
                                <p>4k-7k</p>
                                <span >宏利公司</span>
                                <span class="address">[广州]</span>
                            </div>
                        </li>
                    </ul>
                    <div class="tab-like-more">更多猜你喜欢的职位 ></div>
                </div>


            </div>

        </div>
    </div>

</div>
		<script type="text/javascript" src="__PUBLIC__/js/jobseekers/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/css/bootstrap-3.3.0/js/bootstrap.min.js"></script>
</body>
</html>