<!DOCTYPE html>
<html  ng-app="resume" >

	<head>
		<meta charset="utf-8">
		<title>我的简历</title>
		<link rel="stylesheet" href="__PUBLIC__/css/jobseekers/resume.css">
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/css/jobseekers/cropper.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="__PUBLIC__/css/jobseekers/main.css" rel="stylesheet"/>
		<script>
        var SITE_URL="__MODULE__";
        </script>  
	   <style type="text/css">
       @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}
        </style>
   

	</head>

	<body id="resume">
    <!--头部-->
    <img src="__PUBLIC__/images/Top.jpg" id="imgs">
		<header id="header">
			<nav class="container">
				<a class="logo" href=""><img src="__PUBLIC__/images/logo.png"></a>
				<a class="nav-link selected" href="{:U('Index/index')}">首页</a>
				<a class="nav-link" href="{:U('Index/delivery')}">投递箱</a>
				<a class="nav-link" href="{:U('Home/Index/findjob')}">找工作</a>
 				<a class="nav-link fr" href="{:U('Login/log_out')}">退出</a>

                <a class="nav-link fr" href="{:U('Index/index')}"  ng-bind="basic[0].nickname"></a>
				
			</nav>
		</header>
        <!--简历-->
        
		<section id="resume" class="container" ng-cloak>
			<!--简历信息-->
			<article class="resume-inner">
				<!--用户头像-->
				<aside class="avatar" id="crop-avatar">
                
                  	<img class="absolute" src="__PUBLIC__/images/resume-bg.png">              
					<img id="avatar-img" class="center hear" src="__PUBLIC__/images/avatar.png" >
					<img id="avatar-bg" class="center" src="__PUBLIC__/images/avatar-bg.png" >

					<input id="avatar-upload" class="center" type="file">
           <!----------------------------------------------------img(begin)------------------------------------------->            
                    
                     <include file="crop" class="center" />
                     
 			<!---------------------------------------------------------img(end)------------------------------------------>

                    </aside>
 			<!-- --------------------------------------------------------Cropping modal -->
                    
				<!--基本信息-->
				<section id="user-info" ng-controller="resumeBasic">
                <button class="add" ng-click="add()" ng-hide="basic[0]">+ 添加基本资料</button>
				<div class="list text-center"  ng-show="basic[0]">
						<a class="edit"  ng-click="edit(basic[0])">编辑</a>
                            <span class="name rate"  ng-bind="basic[0].nickname"></span>
                            <span class="intro rate"  ng-bind="basic[0].peculiarity"></span>
                            <span class="base ">
                                <em class="sex rate"><i class="icon"></i><em  ng-bind="basic[0].sex"></em></em>
                                <em class="birth rate"  ng-bind="basic[0].birth"></em>
                                <em class="xl rate"  ng-bind="basic[0].top_edu"></em>
                                <em class="gzjy rate"  ng-bind="basic[0].work_years"></em>
                                <em class="city rate"><i class="icon city"></i><em  ng-bind="basic[0].current_city"></em></em>
                            </span>
                            <span class="base">
                                <em class="p rate" ><i class="icon phone "></i><em   ng-bind="basic[0].phone"></em></em>
                                <em class="e rate"><i class="icon email rate"></i><em   ng-bind="basic[0].e_mail"></em></em>
                            </span>
                         </foreach>    
					</div>
					<form id="user-info-form"  ng-show="form" name="myForm" style="display:block" novalidate>
					<fieldset>
							<label >姓名</label>
							<input class="input-text" ng-model="form.nickname" maxlength="10" required>
						</fieldset>
						<fieldset>
							<label>介绍</label>
							<input class="input-text" ng-model="form.peculiarity"  maxlength="15" required>
						</fieldset
						><fieldset>
							<label>性别</label>
							<select class="input-text" ng-model="form.sex"  required>
								<option >男</option>
								<option>女</option>
							</select>
						</fieldset>
						<fieldset>
							<label>出生年份</label>
                            <select class="input-text" ng-model="form.birth"   >
								<option>00后</option>
								<option>90后</option>
								<option>80后</option>
								<option>其他</option>
							</select>
						</fieldset>
						<fieldset>
							<label>最高学历</label>
							<select class="input-text" ng-model="form.top_edu"  required>
								<option>大专</option>
								<option>本科</option>
								<option>硕士</option>
								<option>博士</option>
								<option>其他</option>
							</select>
						</fieldset>
						<fieldset>
							<label>工作年限</label>
							<select class="input-text"  ng-model="form.work_years" required>
								<option>应届毕业生</option>
								<option>1-3年</option>
								<option>3-5年</option>
								<option>5-10年</option>
								<option>10年以上</option>
							</select>
						</fieldset>
						<fieldset>
							<label>所在城市</label>
                            <select class="input-text"   ng-model="form.current_city"  >
								<option>北京</option>
								<option>上海</option>
								<option>广州</option>
								<option>深圳</option>
								<option>杭州</option>
								<option>其它</option>
							</select>
						</fieldset>
						<fieldset>
							<label>手机号码</label>
							<input type="tel" class="input-text" ng-minlength="11" ng-maxlength="11" ng-pattern="/^1[3|5|8][0-9]\d{8}$/" name="phone" ng-model="form.phone"  required>
                            <div class="tip" >
                               <span   ng-show="(myForm.phone.$dirty || myForm.phone.$pristine) && myForm.phone.$invalid">
                                	<span class="text-danger" ng-show="myForm.phone.$error.required  ">* 手机号码是必须的。</span>
                                	<span class="text-danger glyphicon  glyphicon-remove" ng-if="myForm.phone.$error.pattern  && myForm.phone.$touched">请输入以1、3、5、8开头的有效手机号且11位数！</sapn>
							   </span>
								
                           </div>
						</fieldset>
						<fieldset>
							<label>联系邮箱</label>
							<input type="email" class="input-text" name="e_mail" ng-model="form.e_mail" required>
                            <div class="tip">
                               <span ng-show="(myForm.e_mail.$dirty || myForm.e_mail.$pristine) && myForm.e_mail.$invalid">
                                	<span class="text-danger "  ng-show="myForm.e_mail.$error.required ">* 邮箱是必须的。</span>
                                	<span class="text-danger glyphicon glyphicon-remove" ng-show="myForm.e_mail.$error.email && myForm.e_mail.$touched">非法的邮箱地址。</span>
								</span>
                            </div>
						</fieldset>
						<fieldset>
							<input class="btn submit" type="submit" value="保存" ng-click="submit()" ng-disabled="((myForm.phone.$dirty || myForm.phone.$pristine) && myForm.phone.$invalid) || ((myForm.e_mail.$dirty || myForm.e_mail.$pristine)&& myForm.e_mail.$invalid)">
							<button class="btn cancel" ng-click="cancel()">取消</button>
						</fieldset>
					</form>
				</section>
       			                         
				<!--工作经历-->
				<section id="job-exp"  ng-controller="resumeJobexp">
					<h5 class="resume-title"><span>工作经历</span><a class="edit" href="javascript:;"  ng-click="add()">添加</a></h5><!--&javascript:;$item['resume_id']-->
					<button class="add" ng-click="add()" ng-hide="experience.length">+ 添加工作经历</button>                 
					<ul class="list" ng-hide="list">
                            <li  ng-repeat="item in experience" >
                                <a class="edit"  href="javascript:;" ng-click="edit(item)">修改</a><!-- data-id={$item.resume_id}-->
                                <a class="del"   href="javascript:;" ng-click="remove(item)" >删除</a><!-- data-id={$item.resume_id}-->
                                   
                                <div class="name rate" ng-bind="item.re_company_name"></div><!--{$item.re_company_name}-->
                                <div >
                                    <span class="job " ng-bind="item.job_title"></span><!--{$item.job_title}-->
                                    <span class="fr " ng-bind="item.working_time"></span><!--{$item.working_time}-->
                                </div>
                                <p  class="cont rate" ng-bind="item.job_description "></p><!--{$item.job_description}-->
                            </li>
							
					</ul>
					<form id="job-exp-form" name="jobexp" ng-show="form" style="display:block"><!-- method="post" -->
						<fieldset>
							<label>公司</label>
							<input type="text" name="c_n" class="input-text"  ng-model="form.re_company_name" ng-maxlength="30" required>
                          	 <div class="tip" >
                                 <span ng-show="(jobexp.c_n.$dirty || jobexp.c_n.$pristine) && jobexp.c_n.$invalid">
                                   <span class="text-danger "  ng-show="jobexp.c_n.$error.required && jobexp.c_n.$touched">* 公司名必须的。</span>
                                    <span class="text-danger glyphicon  glyphicon-remove" ng-if="jobexp.c_n.$error.maxlength && jobexp.c_n.$touched">最多只能输入30个字！</sapn>
                                </span>
                            </div>
                            
                            
						</fieldset>
						<fieldset>
							<label>职位</label>
							<input class="input-text"  ng-model="form.job_title" maxlength="6">
						</fieldset>
						<fieldset>
							<label>任职时间</label>
							<input class="input-text" placeholder="如:2010-11-12~至今" ng-model="form.working_time" maxlength="21">
						</fieldset>
						<fieldset>
							<label class="align-top">工作内容</label>
							<textarea class="input-text" maxlength="300" rows="5"  placeholder="如:在职期间的工作范围或为公司创造了什么价值"  ng-model="form.job_description" maxlength="500"></textarea>
						</fieldset>
						<fieldset>
							<input class="btn submit" type="submit" value="保存"  ng-click="submit()" ng-disabled="(jobexp.c_n.$dirty || jobexp.c_n.$pristine) && jobexp.c_n.$invalid "  >
							<button class="btn cancel"  ng-click="cancel()">取消</button>
						</fieldset>
					</form>
                   
				</section>
                
                
				<!--教育经历-->
				<section id="edu-exp" ng-controller="resumeEduexp">
					<h5 class="resume-title"><span>教育经历</span><a class="edit" href="javascript:;"  ng-click="add()">添加</a></h5>
					<button class="add" ng-click="add()" ng-hide="education.length">+ 教育经历</button>
					<ul class="list"  ng-hide="list">
						<li ng-repeat="item in education">
                       		 <a class="edit" href="javascript:;" ng-click="edit(item)">修改</a>
                             <a class="del"  href="javascript:;" ng-click="remove(item)">删除</a>
                            <div class="name rate" ng-bind="item.school_name"></div>
							<div>
								<span class="xl " ng-bind="item.degree"></span> -
								<span class="major rate" ng-bind="item.major"></span>
								<span class="grad fr" ng-bind="item.graduated">毕业(预计)</span>
							</div>
						</li>
					</ul>
					<form id="edu-exp-form" name="eduexp" ng-show="form" style="display:block">
						<fieldset>
							<label>学校名称</label>
							<input class="input-text" name="s_n" ng-model="form.school_name" ng-maxlength="10" required>
                          	 <div class="tip" >
                                <span ng-show="(eduexp.s_n.$dirty || eduexp.s_n.$pristine) && eduexp.s_n.$invalid">
                                   <span class="text-danger "  ng-show="eduexp.s_n.$error.required && eduexp.s_n.$touched">* 公司名必须的。</span>
                                   <span class="text-danger glyphicon  glyphicon-remove" ng-if="eduexp.s_n.$error.maxlength && eduexp.s_n.$touched">最多只能输入10个字！</sapn>
                                </span>
                            </div>
                        </fieldset>
						<fieldset>
							<label>所学专业</label>
							<input class="input-text"  ng-model="form.major" maxlength="10" >
						</fieldset>
						<fieldset>
							<label>学历</label>
							<select class="input-text"   ng-model="form.degree"  required>
								<option>大专</option>
								<option>本科</option>
								<option>硕士</option>
								<option>博士</option>
								<option>其他</option>
							</select>
						</fieldset>
						<fieldset>
							<label>毕业时间</label>
                            <select class="input-text"  ng-model="form.graduated"   required>
								<option>2017-09</option>
								<option>2016-09</option>
								<option>2015-09</option>
								<option>2014-09</option>
								<option>2013-09</option>
								<option>2012-09</option>
								<option>2011-09</option>
								<option>2010-09</option>
								<option>2009-09</option>
								<option>2008-09</option>
								<option>2007-09</option>
								<option>2006-09</option>
								<option>2005-09</option>
								<option>2004-09</option>
								<option>2003-09</option>
								<option>2002-09</option>
								<option>2001-09</option>
								<option>2000-09</option>
							</select>
						</fieldset>
						<fieldset>
							<input class="btn submit" type="submit" value="保存" ng-click="submit()" ng-disabled="(eduexp.s_n.$dirty || eduexp.s_n.$pristine)  && eduexp.s_n.$invalid ">
							<button class="btn cancel" ng-click="cancel()">取消</button>
						</fieldset>
					</form>
                    
				</section>
                
                			
				<!--自我描述-->
				<section id="self-des"  ng-controller="resumeDes">
					<h5 class="resume-title"><span>自我描述</span> </h5>
                     <button class="add" ng-click="add()" ng-hide="describe.length">+ 添加自我描述</button>
                    <div class="edit_box_box" ng-repeat="item in describe"   ng-hide="list">
                        <span class="edit_box">
                        	<a class="edit" href="javascript:;"  ng-click="edit(item)">修改</a><!--data-id={$item.resume_id}-->
                         </span>  
                     	<textarea class="list rate ng-binding" rows="5" ng-bind="item.describe" style="width: 100%;background-color: transparent;border: 0px;resize: none;" readonly>
                        </textarea>
                     </div>
                    	
                     <form id="self-des-form" ng-show="form" name="selfdes" style="display:block">
						<fieldset>
							<textarea rows="5" name="describe" vlaue="11" maxlength="250" wrap="hard" placeholder="250字以内"   ng-model="form.describe" maxlength="250" minlength="10" required></textarea>
						</fieldset>
                             <div class="tip" >
                                 <span ng-show="(selfdes.describe.$dirty || selfdes.describe.$pristine) && selfdes.describe.$invalid">
                                   <span class="text-danger "  ng-show="selfdes.describe.$error.required ">* 请输入自我描述。</span>
                                    <span class="text-danger glyphicon  glyphicon-remove" ng-if="selfdes.describe.$error.minlength && selfdes.describe.$touched">最少输入10个字！</sapn>
                                </span>
                            </div>
						<fieldset>
							<input class="btn submit" type="submit" value="保存" ng-click="submit()" ng-disabled="selfdes.describe.$dirty && selfdes.describe.$invalid ">
							<button class="btn cancel" ng-click="cancel()">取消</button>
						</fieldset>
					</form>
                    
					
				</section>
				<!--求职意向-->
				<section id="job-career"  ng-controller="resumeCareer">
					<h5 class="resume-title"> <span>求职意向</span></h5>
					<button class="add" ng-click="add(prefered[0])" ng-hide="prefered.length">+ 添加求职意向</button>
                  
                        
                         <dl class="list clear"  ng-repeat="item in prefered"  ng-hide="list">
                            	<span class="edit_box rate">
                            	<a class="edit" href="javascript:;" ng-click="edit(item)">修改</a>
                             	</span>
                                <dd class="name"><i></i><span ng-bind="item.expected_position"></span></dd>
                                <dd class="type"><i></i><span ng-bind="item.job_type"></span></dd>
                                <dd class="city"><i></i><span ng-bind="item.expected_location"></span></dd>
                                <dd class="wages"><i></i><span ng-bind="item.expected_monthly_income"></span></dd>
                          </dl>
                       
					<form id="job-career-form" ng-show="form" style="display:block">
						<fieldset>
							<label>期望职位</label>
							<input class="input-text" ng-model="form.expected_position" maxlength="10" required>
						</fieldset>
						<fieldset>
							<label>职位类型</label>
                            <select class="input-text"  ng-model="form.job_type" required>
								<option selected="selected" >无限</option>
								<option>全职</option>
								<option>兼职</option>
								<option>实习</option>
							</select>
						</fieldset>
						<fieldset>
							<label>期望城市</label>
                            <select class="input-text" ng-model="form.expected_location"   required>
								<option selected="selected" >无限</option>
								<option>北京</option>
								<option>上海</option>
								<option>广州</option>
								<option>深圳</option>
								<option>杭州</option>
							</select>
						</fieldset>
						<fieldset>
							<label>期望月薪</label>
                            <select class="input-text" ng-model="form.expected_monthly_income"  required>
								<option selected="selected" >无限</option>
								<option>5k以下</option>
								<option>5k-10k</option>
								<option>10k-15k</option>
								<option>15k-20k</option>
								<option>20k-50k</option>
								<option>50k以上</option>
							</select>
						</fieldset>
						<fieldset>
							<input class="btn submit" type="submit" value="保存" ng-click="submit()">
							<button class="btn cancel" ng-click="cancel()">取消</button>
						</fieldset>
					</form>
                   
				</section>
				<!--求职状态-->
				<section class="text-center"  ng-controller="resumeState">
                
					<select id="job-state"  ng-model="basic[0].current_status" ng-change="change()" ng-disabled="!basic[0]" >
                        <option >我是应届毕业生</option>
						<option >我暂时不想找工作</option>
						<option >我目前已离职，可快速到岗</option>
						<option >我目前正在职，正考虑换个新环境</option>
					</select>
				</section>
			</article>
			<!--简历导航-->
			<aside class="resume-nav">
				<nav id="nav-list">
					<div class="integrity">
						<div class="top">
							<span>简历完整度：<em id="finishing_rate" ng-bind="integrity">50%</em></span>
                           
							<a class="fr" href="{:U('Preview/index')}" target="_blank">预览简历</a>
						</div>
					</div>
					<ul>
						<li class="selected">
							<a href="#user-info"><i class="base_i"></i>基本信息</a>
						</li>
						<li>
							<a href="#job-exp"><i class="job_i"></i>工作经历</a>
						</li>
						<li>
							<a href="#edu-exp"><i class="edu_i"></i>教育经历</a>
						</li>
						<li>
							<a href="#self-des"><i class="self_i"></i>自我描述</a>
						</li>
						<li>
							<a href="#job-career"><i class="career_i"></i>求职意向</a>
						</li>
					</ul>

				</nav>
			</aside>
           </section> 

		<script type="text/javascript" src="__PUBLIC__/js/jobseekers/jquery-3.1.1.min.js"></script>
   		<script type="text/javascript" src="__PUBLIC__/js/angular-1.0.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/jobseekers/resume.js"></script>
        <script type="text/javascript" src="__PUBLIC__/css/bootstrap-3.3.0/js/bootstrap.min.js"></script>
   		<script type="text/javascript" src="__PUBLIC__/js/jobseekers/cropper.min.js"></script>
  		<script type="text/javascript" src="__PUBLIC__/js/jobseekers/main.js"></script>  


	</body>

</html>
         