<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/enterprise/index.css">
</head>
<body>
<div class="body">
	<div class="header">
		<div class="logo">
			<img src="__PUBLIC__/images/enterprise/logo.png">
		</div>
	</div>
	<div class="nav_bar">
		<div class="touxiang">
			<div class="box">头像</div>
			<p>姓名</p>
		</div>
		<div class="nav_item">
			<div class="item job">
				<div class="tit">
					<span <if condition="$Think.const.ACTION_NAME eq add_job"> class="icon_job_sel" </if>   class="icon_job"></span>
					<p>职位</p>
					<span class="i_close"></span>
				</div>
				<ul class="hide">
					<li ><a href="{:U('Index/add_job')}">新职位</a></li>
					<li><a href="{:U('Index/job_list')}">已发布职位</a></li>
				</ul>
			</div>
			<div class="item user">
				<div class="tit">
					<span class="icon_user"></span>
					<p>牛人</p>
					<span class="i_close"></span>
				</div>
				<ul class="hide">
					<li>看过我</li>
					<li>收藏我</li>
					<li>搜索</li>
				</ul>
			</div>
			<div class="item select">
				<div class="tit">
					<span class="icon_select"></span>
					<p><a href="{:U('Index/index')}">候选人</a></p>
				</div>
			</div>
			<div class="item mess">
				<div class="tit">
					<div>
						<span class="icon_mess"></span>
						<p>消息</p>
						<span class="badge">14</span>
					</div>
				</div>
			</div>
			<div class="item me">
				<div class="tit">
					<span class="icon_me"></span>
					<p>我的</p>
					<span class="i_close"></span>
				</div>
				<ul class="hide">
					<li>我的公司</li>
				</ul>
			</div>
		</div>
		<div class="tool">
			<div class="logout">
				<span class="i_logout"></span>
				<p><a href="{:U('login/logout')}">退出登陆</a></p>
			</div>
			<div class="setting">
				<span class="i_logout"></span>
				<p>设置</p>
			</div>
		</div>
	</div>
