<include file="Public:header" />

<div class="container">
	<form action="{:U('article/update')}" method="post" enctype="multipart/form-data">
		<div class="form-group">

			文章标题:
			<input type="text" name="article_title" value="{$article_info['article_title']}"></div>
			<div class="form-group">
			缩略图上传:
			<input type="file" name="thumb" class="dropify" data-default-file="{$article_info['thumb']}">
		</div>
		<div class="form-group">
			文章内容:
			<textarea name="article_content" id="container" cols="30" rows="10">{$article_info['article_content']}</textarea>
		</div>
		
		<div class="form-group">
			<input type="hidden" name="id" value="{$article_info['id']}">
			<!-- 隐藏域存放编辑的ID值 -->
			<input type="submit" class="btn btn-success" value="更新"></div>
	</form>
</div>

<script type="text/javascript" src="__PUBLIC__/libs/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/libs/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
	 var ue = UE.getEditor('container');
</script>


<link rel="stylesheet" type="text/css" href="__PUBLIC__/libs/dropify/dropify.min.css">
<script type="text/javascript" src="__PUBLIC__/libs/dropify/dropify.min.js"></script>
<script type="text/javascript">
	$('.dropify').dropify();
</script>


<include file="Public:footer" />