<include file="Public:header" />
    <link rel="stylesheet" href="__PUBLIC__/css/enterprise/job.css?8">

    <div class="container">
        <div class="content">
            <form action="{:U('Job/search')}" method="post">
                <div class="search_nav">
                    <div class="dropdown">
                        <h5>职位类别</h5>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            选择职业
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">技术</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">设计</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <h5>工作经验</h5>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                            所有时间
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">所有时间</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">大于3年</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">大于2年</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">大于1年</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">其他</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <h5>学历</h5>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
                            选择学历
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">研究生</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">本科及以上</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">大专及以上</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">学历不限</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search_box">
                    <input type="text" placeholder="输入关键词：职位名称或者地点等，例如：JAVA工程师，广州天河" name="key">
                    <input type="button" value="筛 选" class="btn btn-primary">
                </div>
            </form>
            <div class="tit_box row">
                <div class="col-md-2 col-xs-2">职位名称</div>
                <div class="col-md-1 col-xs-1">类型</div>
                <div class="col-md-1 col-xs-1">薪资</div>
                <div class="col-md-1 col-xs-1">工作经验</div>
                <div class="col-md-2 col-xs-2">学历要求</div>
                <div class="col-md-1 col-xs-1">发布时间</div>
                <div class="col-md-3 col-xs-3">技能要求</div>
                <div class="col-md-1 col-xs-1">职位描述</div>
            </div>
            <table class="table row">
                <foreach name="job_info" item="job_item">
                    <tr id_val= "{$job_item['id']} ">
                        <th class="col-md-2 col-xs-2 revise job" name="job_name">{$job_item['job_name']}</th>
                        <th class="col-md-1 col-xs-1" name="job_type">{$job_item['job_type']}</th>
                        <th class="col-md-1 col-xs-1 revise money" name="money">￥{$job_item['money']}</th>
                        <th class="col-md-1 col-xs-1" name="work_time">{$job_item['work_time']}</th>
                        <th class="col-md-2 col-xs-2" name="education">{$job_item['education']}</th>
                        <th class="col-md-1 col-xs-1" name="add_time">{$job_item['add_time']|date='m-d',###} </th>
                        <th class="col-md-3 col-xs-3 revise require" name="job_require">{$job_item['job_require']}</th>
                        <th class="col-md-1 col-xs-1"><button type="button" class="btn btn-info info" >点击详情</button></th>
                    </tr>
                    <div class="detail" id="{$job_item['id']}">
                        <div class="describe">
                            <h3>职位描述：</h3>
                            <p>{$job_item['job_describe']}</p>
                        </div>
                        <div class="address">
                            <h3>工作地址：</h3>
                            <p>{$job_item['place']}</p>
                        </div>
                    </div>
                </foreach>
            </table>
            <div class="row page_box">{$page}</div>
        </div>
    </div>
</div>
<include file="Public:footer" />
<script src="__PUBLIC__/js/enterprise/search.js"></script>
<script src="__PUBLIC__/js/enterprise/job_list.js?3"></script>
